[2018-12-03 15:20] Moorst opened #1 "Error on Frontend"
I'm getting;

`Uncaught ReferenceError: $ is not defined at oembed.js?v=1543396115:15`

Is it possible to disable this being referenced on the frontend? I'm not using jQuery which I assume is this issue?

[2018-12-06 02:21] reganlawton commented on #1
@Moorst I'll get a patch for this out soon. I might see too replacing jQuery with native Javascript.

[2018-12-06 05:00] reganlawton commented on #1
@Moorst give [v1.0.2](https://github.com/wrav/oembed/releases/tag/1.0.2) a go. I replaced the jQuery with standard Javascript

[2018-12-06 09:58] neokoenig opened #2 "JS file placement and console error in 1.0.2"
I guess this is two things but related?

1) the `<script src='http://domain.com/cpresources/52b8ecf8/oembed.js?v=1544072154'></script>` link appears outside the `<html>` tag, which I'm pretty sure is invalid HTML - is that to do with my front end?

2) it also throws:
[code]
in the console.

I can't help feeling that we should have an option to not include JS from `cpresources` too, and include it

[2018-12-06 10:03] reganlawton commented on #2
I agree, an optional switch to disable the live preview JavaScript might be the solution here. I’ll add additional support you error handling. I’ll try have a new version out within the next day.

[2018-12-06 10:20] neokoenig commented on #2
If it's only for the live preview, then could we not test for the equivalent of `{% if currentUser %}` ? (sorry, new to Craft) - at the moment it's then even if not logged in.

[2018-12-06 10:23] reganlawton commented on #2
Sorry I think I’m understanding the issue and this might be related to issue #1. Is the JavaScript being included in the front end?

As it should only be injected in the admin portal. If this is the case it’ll be an easy fix. In the morning.

[2018-12-06 11:43] neokoenig commented on #2
Ah right - that's correct, related to #1 then!

[2018-12-06 11:43] #2 closed

[2018-12-06 19:33] reganlawton commented on #2
Ok seems to be the case that the JS is losing outside the control panel should be an easy fix will resolve today and have a patch in the next few hours.

[2018-12-06 19:36] reganlawton commented on #1
I have realised from another issues (see #2) that your issue is that the code is actually getting loaded into the front end. The JS shouldn’t be loaded outside the CP.

I’m going to do another release in the next few hours to resolve this issue.

[2018-12-06 22:15] reganlawton commented on #1
Ok so you should now not have the JS asset load on the frontend @Moorst

See release [v1.0.3](https://github.com/wrav/oembed/releases/tag/1.0.3)

[2018-12-07 09:04] Moorst commented on #1
Brilliant, thanks @reganlawton

[2018-12-07 09:07] #1 closed

[2018-12-07 11:08] neokoenig opened #3 "Craft 3.1 beta"
Would be good to allow for Craft 3.1.beta.1 in the dependencies. At the moment this will block a 3.1 beta install.

[code]

[2018-12-10 04:44] reganlawton commented on #3
@neokoenig are you able to use `dev-feature/craft-v3.1` as the composer packages version and see if its working with your Craft CMS v3.1 version

[2019-01-16 17:01] elodiegrondin commented on #3
Hello !

First at all, I would like to thank you for this great plugin :)

And I'd like to know if it's possible to fix this issue for craft 3.1.0 now that it's released ?
I've tried to update to craft 3.1.0 earlier but got a similar issue.
I'd like to avoid using a dev branch because the website is going on prod env soon...

[code]

[2019-01-16 22:46] reganlawton commented on #3
@elodiegrondin give v1.0.4 a go

[2019-01-17 12:10] elodiegrondin commented on #3
@reganlawton It's working great, thanks !

[2019-02-08 00:00] mattrothenberg opened #5 "Preview Doesn't Appear Until Entry Saved"
Howdy! Thanks for building this fantastic plugin.

I'm not sure whether this is a bug, feature request, or something altogether different.

When pasting a URL into an `oEmbed` field, I expect something to appear in the **Preview** field directly underneath. However, I can't get anything to appear until I've saved the entry and the page refreshes.

Is this intentional? It would be helpful for conte

[2019-02-08 04:25] reganlawton commented on #5
@mattrothenberg I'll look into this as it should work without the the entry needing to be saved

[2019-02-08 05:43] reganlawton commented on #5
@mattrothenberg I've tested a fix that is caused when using a Matrix or another dynamic type I'll have a patch out for you in a minute

[2019-02-08 05:58] reganlawton commented on #5
Resolved in [v1.0.5](https://github.com/wrav/oembed/tree/1.0.5)

[2019-02-08 05:58] #5 closed

[2019-02-08 13:16] mattrothenberg commented on #5
@reganlawton Amazing. Thank you so much!

[2019-02-25 16:30] rtgoodwin opened #6 "Preview failing for Libsyn oEmbed link"
Hi!

The perfect plugin to help me move some of my entry content out into a proper field structure. :) I was going to use Libsyn's iframe, but oEmbed seems like a more sane, structured option to use if I can.

I installed the plugin, added a field, and tried entering the URL, but the Preview fails, saying "check your URL". I'm wondering if there's a bug, or  Libsyn isn't doing its oEmbed _thing_ r

[2019-02-25 22:48] reganlawton commented on #6
@rtgoodwin I've tested those URLs with other services and they don't seem to support the Oembed format. See example tester [here](http://oembed.frdnspnzr.de/).

You might want to contact the `libsyn` service and ask them. But it does seem to follow [spec](https://oembed.com/) at first glance.

I'll need to look into this more.

[2019-02-25 23:35] rtgoodwin commented on #6
@reganlawton Thanks! The JSON (at least the direct URL) does seem to be valid, from what I could glean from a quick read of the spec.

Embed.ly's tester reports it's valid, but I think Libsyn probably designed it with them in mind :)

Thanks for any help or ideas. I'll bug them as well.

[2019-02-26 14:52] rtgoodwin commented on #6
@reganlawton

Libsyn responded that it should be following the spec, and:

```Most of the 'testers' out there seem to be looking for the metatags for discovery:  https://oembed.com/#section4 and not actually parsing the response.```

I patched the local Essence install and created a PR: https://github.com/essence/essence/pull/144 and it works fine now. (Forces Essence to match Libsyn as a "special

[2019-02-26 20:24] reganlawton commented on #6
@rtgoodwin

I’ll create a new brwnch so that your able to reference that in composer, say something like ‘dev/libsys ‘ etc.

That’ll reference the essence PR this should be a fix till your PR gets pulled into core.

[2019-02-26 21:12] reganlawton commented on #6
@rtgoodwin

Please let me know when your [PR](https://github.com/essence/essence/pull/144) has been merged  into master. I have a new branch `dev-hotfix/libsyn` that you can reference in your composer.json in your CraftCMS project, this has your PR set and is locked to that initial PR commit.

Like me know if thats good your end and thanks for the report 👍

[2019-02-26 21:34] rtgoodwin commented on #6
Awesome! Will let you know; the other PR in there has been hanging out for quite some time, but hopefully this one goes quickly. Thank you so much!

[2019-03-04 17:56] rtgoodwin commented on #6
I can't seem to tag you across repos (or tell if you get updates on that PR), but Felix posted a couple of updates, so just letting you know here :) https://github.com/essence/essence/pull/144

[2019-03-04 22:24] reganlawton commented on #6
@rtgoodwin thanks for that once the repo owner makes the final changes I'll do a big update here

[2019-03-05 18:17] CreateSean opened #7 "How to use options?"
I have this working with YouTube, however the youtube embed is automatically setting the height and width attributes in the iframe tag. I'd like to be able to set those myself.

My current code is:

[code]

However the options don't appear to be doing anything.

[2019-03-05 20:55] rtgoodwin commented on #6
@reganlawton Do you think you'll add the default providers in the Essence instantiation as Felix mentioned? I think that way I can unpin a specific version here. Not trying to be redundant posting, just not clear on if you get notified on that thread. :) I'm not sure if I can test it out in my current config but I could pin to a different commit on your side if you wanted to push a test version.

[2019-03-05 21:47] reganlawton commented on #7
@CreateSean The passed into [Essence](https://github.com/essence/essence) are used as query parameters for the oembed spec,  [see "2.2. Consumer Request"](https://oembed.com/#section2).

I'd need to test to confirm but Im pretty sure maxwidth / maxheight can be used in youtube case. However @rtgoodwin in issue #6 put forward the solution below.

[code]

[2019-03-05 22:00] reganlawton commented on #7
@CreateSean Just tested and can confirm that maxwidth and maxheight works

[2019-03-05 22:00] #7 closed

[2019-03-13 03:26] reganlawton commented on #6
@rtgoodwin I've changes the package used and its now fix in v1.1.0

[2019-03-13 11:50] rtgoodwin commented on #6
@reganlawton Well thanks! Didn't mean to cause such a ruckus :)

[2019-03-13 11:50] #6 closed

[2019-03-14 04:03] reganlawton commented on #6
@rtgoodwin all good i found a few more sites that that package couldn't handle yet so it was better to switch over the dependency. Thanks for the report 👍

[2019-03-28 17:25] iparr opened #10 "Dealing defensively with rubbish field entries"
My content editors are wonderful, but I want to ensure that even if they put something dumb in the field that errors are handled as gracefully as possible.

I am using `{{ entry.field.render }}` and it works well (thanks!) but if an invalid value is added to the oEmbed field, then the whole template will error: `Embed\Exceptions\InvalidUrlException`

Is there a way I can handle this more gracefull

[2019-03-28 20:39] reganlawton commented on #10
@iparr I believe this is 100% valid. I’ll make it do errors only display in DEV via the twig variable output.

In anything other I’ll just error to log file.

[2019-03-29 04:51] reganlawton commented on #10
@iparr I've finally got a chances to push changes to the plugin I made this morning tagged [v1.1.3](https://github.com/wrav/oembed/releases/tag/1.1.3).

It comes with better sub prop handling, if the property is missing, as well as a new `valid` methods as a TWIG variable and new method on the field. See README for more information.

[2019-04-04 06:37] migswd opened #11 "Facebook videos embed ?"
Does it work with Facebook videos too ?
Like this :
https://www.facebook.com/goalcast/videos/1503523589724826/

[2019-04-04 06:48] reganlawton commented on #11
@migswd Why yes it does, I just tested your URL also so you can see it in action.

<img width="814" alt="Screenshot 2019-04-04 17 44 20" src="https://user-images.githubusercontent.com/2705875/55535056-be409c80-5701-11e9-861c-83f6af8ff249.png">

[2019-04-04 06:56] migswd commented on #11
Thats fantastic ! :)

Also one last question : should I make a fieldtype oEmbed in Craft or can I use oEmbed twig render directly on a any link fieldtype ? Or we just can do both ?

[2019-04-04 07:01] reganlawton commented on #11
Both are useable and has the same features

[2019-04-04 07:03] migswd commented on #11
Awesome ! :)
Thank you for this great plugin !

[2019-04-04 07:03] #11 closed

[2019-04-11 16:03] iparr commented on #10
I've tested this and it's allowed me check for valid oEmbeds in a much _nicer_ way. Thanks! Great work.

[2019-04-11 21:28] reganlawton commented on #10
Thanks for the issue report and glad it’s working for you now. 👍

[2019-04-12 03:11] jcrichto opened #12 "Disable on certain fields in control panel?"
I'm currently running into an issue with oembed breaking another instagram plugin (https://picpuller.com/)

The script tag is breaking the picpull instagram field, see screenshot:
https://cl.ly/918deb9d6729

Is there any way to disable your plugin on certain field types?

[2019-04-12 03:17] reganlawton commented on #12
Yep I can see what would be causing that I’ll try getting out a patch ASAP

[2019-04-15 01:01] reganlawton commented on #12
@jcrichto Just release [v1.1.5](https://github.com/wrav/oembed/releases/tag/1.1.5) give that a try should resolve your issue.

[2019-04-15 02:24] jcrichto commented on #12
Works great! Thanks for putting the patch out.

[2019-04-15 02:43] #12 closed

[2019-04-15 07:51] stefanmf opened #13 "Caching issue"
It seems that Craft's caching is not playing well when embedding with options, at least from Vimeo.
I have the following code:
[code]
The options are ignored (video displayed with default values). I tried removing the following code from the embed function in OembedService.php:
[code]
After removing the above code, the options are working and the video is displaying as expected. Clearing the Craft

[2019-04-15 08:06] reganlawton commented on #13
@stefanmf I think I’ll add a option to set off caching and then look into this issues further

[2019-04-22 04:59] reganlawton commented on #13
@stefanmf You should be able to now disable caching.

https://github.com/wrav/oembed/releases/tag/1.1.6

[2019-04-26 05:24] #13 closed

[2019-05-12 19:32] proimage opened #14 "YouTube or Vimeo embed with autoplay?"
I can't for the life of me figure out how to use this oEmbed plugin to parse a URL to a YouTube or Vimeo video and render an iframe with control over things like width/height and autoplay. Could you possibly provide a code example?

The problem I'm running into seems to be that the `options` object does nothing to affect the output. Here's my code:

[code]

The output ends up being this (linebreak

[2019-05-12 21:08] reganlawton commented on #14
I’m almost certain this is a feature you add in the URL, something like <URL>?autoplay=1. I’ll have to check when I’m at my computer.

[2019-05-16 16:40] gudehus commented on #14
I have the same problem with Vimeo videos. But they have a documentation that listed all the options.
https://developer.vimeo.com/api/oembed/videos

Maybe this is helping. And some code example would be helpful.

[2019-05-17 01:12] reganlawton commented on #14
It seems the library `embed` is stripping the URL I'll have to have a play with this.

[2019-07-03 02:01] reganlawton commented on #14
I think I have a way around this by using PHP to edit the DOM on the iframe. I'll need to look into this abit more.

[2019-07-11 13:19] pl-mnm opened #15 "Fetch thumbnail for CP"
Hi, is there a solution to have the embedded media's thumbnail or image available when choosing columns in the CP's "Customize sources" table? Thx in advance.

[2019-07-11 21:20] reganlawton commented on #15
Sorry are you about to clarify this request?

[2019-07-12 05:58] pl-mnm commented on #15
Sorry about that, I haven't found the exact terms to describe this CP functionality.

In the CP entries section, when you click the little cog in the bottom left corners you can choose the fields that will be visible to the editor:

![Screenshot_2019-07-12 Entries](https://user-images.githubusercontent.com/3905170/61105568-6c4ba780-a4a4-11e9-8451-9986e927fde4.png)

Ideally I'd like to choose oembe

[2019-07-12 06:19] reganlawton commented on #15
OH!!! You want to see the thumbnail in the element index 🤔This should be doable jsut abit fiddly and I'll have to look at maybe using transforms if the images are too large.

This is totally something I can add, so leave this with me and if I get side tracked please do ping me. I'm just a bit busy with the tail end of a few projects.

[2019-07-12 06:42] pl-mnm commented on #15
Thanks @reganlawton . "Element index": these are the words I was looking for!

[2019-08-05 02:31] mattrothenberg opened #16 "Slow Twig Rendering Times"
Howdy!

I've noticed a trend where entries on my site that are using `embed` fields inside of a matrix block are taking a _very_ long time to load. Here's a screenshot, for example, of a nearly 8 second render time for an article with a single embed of a CNN video.

<img width="388" alt="Screen Shot 2019-08-04 at 10 28 31 PM" src="https://user-images.githubusercontent.com/5148596/62434681-4615d200

[2019-08-05 02:49] reganlawton commented on #16
@mattrothenberg Hmm are you able the link your using? I had an update in [1.1.6](https://github.com/wrav/oembed/blob/master/CHANGELOG.md#116---2019-04-22) , which made caching on the oEmbed side an optional feature, previously was always enabled.

This might be the issue your running into, as the plugin does offer support to cache the record on the PHP side.

[2019-08-05 02:52] mattrothenberg commented on #16
Oooh, I totally missed that in the `changelog`.

For example, here are two pages that were super slow to render prior to using the `%cache%` tag.

1. https://passivehouseaccelerator.com/articles/passive-without-compromise-passive-house-design-improving-architectural-practice
2. https://passivehouseaccelerator.com/articles/cnn-covers-passive-house-these-100-year-old-homes-are-on-the-cutting-edge-of

[2019-08-05 03:41] reganlawton commented on #16
That might be your servers networking. It loaded decently fine for me if you use the caching option id should be cached from the time you load the URL in the CMS admin area.

[2019-08-05 03:45] mattrothenberg commented on #16
Roger that. Seeing as it's entries with embeds that are consistently the
slowest to load, I think it's less a question of overall networking.

Both of those pages had been cached for at least a few days now, hence the
fast load time. Will give that option a try.

Thanks for the prompt response!

On Sun, Aug 4, 2019, 11:41 PM Regan Lawton <notifications@github.com> wrote:

[2019-08-05 13:47] #16 closed

[2019-08-12 10:07] nitech opened #17 "ErrorException: Array to string conversion"
When I change the propagation method on an section, I get this error inside queue.log - and Craft will attempt rerunning the job over and over again:

[code]

The entries of this section are propagated with the option "Save entries to all sites enabled for this section"

Craft CMS Version: 3.2.9
oEmbed Version: 1.1.6
Neo Version: 2.4.2
Multisite: Yes, four sites.

[2019-08-12 11:05] nitech commented on #17
It might have something to do with multisite. My Craft install has 4 sites. When I changed the field type from oEmbed to Plain Text, this is what the plain text contained: `{"url":{"url":{"url":{"url":"https://www.youtube.com/watch?v=RvvF1BQyUHs"}}}}`

Seems to me that the json is wrapped inside itself four times.

[2019-08-12 11:51] nitech commented on #17
When I manually fix the json-data in the database, this "wrapping" happens again immediately when I try to change propagation method on the said section.

I ended up changing oEmbed to a Plain Text field and fixing the data back to plain text by running the following SQLs

[code]

After I had converted the fields to plaintext and removed traces of the JSON-wrapping, the queued jobs went green.

So

[2019-08-13 00:45] reganlawton commented on #17
@nitech I'm gonna look into this issue as I also run a multi-sites with the plugin and haven't come the issue yet but currently in the process of a migration to CraftCMS v3.2, which the issue might be happening.

[2019-08-14 04:40] reganlawton commented on #17
@nitech I think this is an issue with the `normalizeValue` in the field. I might need to support recursion am I able to know the URL you used with the plugin? Was it a certain site? Jsut to help me troubleshoot the issue.

[2019-08-14 07:13] reganlawton commented on #17
@nitech can you try checking out the `feature/recursive-bug` branch in composer, using `dev-feature/recursive-bug` tag, to see if thats fixing the 5th+ level JSON values from not being converted. That should prevent the issue and stop the queue job failing.

If not let me know and I'll keep on it for you.

[2019-08-14 07:32] nitech commented on #17
Thanks @reganlawton . I will check it when I have the possibility. Right now I am deep into another problem that occurred when upgrading Craft CMS to 3.2 (neo-field duplicated content problem at https://github.com/spicywebau/craft-neo/issues/242)

When I have that sorted out, I will test oEmbed at the mentioned branch.

You asked about an URL for the site - but I see you've removed the question fr

[2019-08-14 09:49] reganlawton commented on #17
I missed the Link in the above messages so amended my question. The note that you had 5 level deep objects kinda stood out and was I issue I believed I’d patched but must never had pushed. It also explains the array to string issue. So I’m hoping the recursive function to go deep should resolve it I also have additional work for 3.2 coming that’ll add Unit testing to the plugin which should help c

[2019-08-15 05:06] reganlawton commented on #14
Seems to be linked to this [issue](https://github.com/oscarotero/Embed/issues/263), I still think DOM manipulation might be the way I've still got some playing around to do

[2019-08-15 07:19] reganlawton commented on #14
@proimage and @gudehus are you able to checkout using composer, `dev-feature/autoplay`. It should let you support autoplay on videos. Its hijacking the URLs and reformatting it. I also added more support for additional vimeo options.

[2019-08-15 07:25] reganlawton commented on #15
This is still on my todo list 👍

[2019-08-20 10:13] gudehus opened #18 "After Update to Craft 3.2.10 the media call is unrecognized"
After Update to Craft 3.2.10 the media call is unrecognized. I got this error on all lines that uses the media object.
Calling unknown method: craft\elements\MatrixBlock::media()
[code]

[2019-08-20 20:11] reganlawton commented on #18
This only happened when updating to Craft 3.2.10? Were any other plugins updated? What version of the plugin are you using?

[2019-08-20 20:15] reganlawton commented on #18
@gudehus also is says that the your calling media on a matrix block not a penned field. Are you sure your referencing the correct field / sub field?

[2019-08-21 08:42] gudehus commented on #18
This is the list of installed PlugIns.

Asset Usage
2.0.1

Cookies
1.1.11

Element Map
1.2.1

Enupal Translate
1.2.0

Many to Many Field Type
1.0.2.2

Minifier
2.0.1

Olivemenus
1.0.9

Redactor
2.3.3.2

Redirect plugin for Craft 3
1.0.23

SEOmatic
3.2.20

SearchExcerpt
1.3.1

Site Switcher
2.1.0

Typogrify
1.1.18

oEmbed
1.1.6

Updated was only craft itself

mit freundlichen Grüßen
Jörg Gudehus

I

[2019-08-21 08:43] gudehus commented on #18
It is correct. Everything worked fine till the update.

mit freundlichen Grüßen
Jörg Gudehus

IT-Consultant

Holsteinische Straße 4
10717 Berlin
+49 151 15674619
gudehus@mac.com
www.joerggudehus.de

Pflichtinformationen gemäß Artikel 13 DSGVO
Im Falle des Erstkontakts sind wir gemäß Art. 12, 13 DSGVO verpflichtet, Ihnen folgende datenschutzrechtliche Pflichtinformationen zur Verfügung zu stellen:

[2019-08-21 10:13] reganlawton commented on #18
It’s saying that the “movie.source” field is a matrix block not a oembed field. So it’s not the plugin. I’d say run movie.source|dump to get more information and see what’s going on.

Because the error you state about says to me that your referencing the oembed field on the level up from the oembed field, which is inside a matrix block.

If your able to provide a screenshot here or at my email reg

[2019-09-01 23:35] reganlawton commented on #17
@nitech Any luck testing this?

[2019-09-03 09:57] iparr opened #19 "Vimeo not working in some environments"
I have a local install with Craft 3.3.1 and a remote copy with the same. Both use the current (1.1.6) version of the plugin.

YouTube works fine, but Vimeo does not.

![Screenshot 2019-09-03 at 10 55 26](https://user-images.githubusercontent.com/497635/64163545-5ff72180-ce39-11e9-9484-77ba67b6156a.png)

On the front end, no video embed code is shown.

I think that this _used_ to work. But no longe

[2019-09-03 10:06] reganlawton commented on #19
@iparr can you provide the link and any information on the structure or the field is it in a matrix or super table etc. it’s also handy to know if the issue happens if the URL fails via the twig variable. Did you only just update to 3.3.x?

[2019-09-03 10:12] iparr commented on #19
The video is https://vimeo.com/100786957 , but I think it's any Vimeo video.

It is an entry, with a Matrix field - of which this field is part.

I'm not using any other plugin the impacts the Dashboard/entry view, apart from:

-Redactor - 2.3.3.2
- Position Fieldtype - 1.0.14
- Redactor nofollow link plugin - 1.0.0

The URL does also fail when I use it in the Twig templates, using:

[code]

I upd

[2019-09-03 11:19] bendesilva commented on #19
I just got this issue too on a website running on a remote server, however my local dev environment is working fine. The error occurs on any Vimeo video, YouTube is also fine for me.

I was getting the error on a website where no changes had been made and Craft was at version 3.2.4.1. It was previously working fine, nothing has notably changed. Upgraded to 3.3.0.1 and still have the same error, so

[2019-09-03 12:30] bendesilva commented on #19
I've done a bit more testing on this.

I set up a new Craft project with oEmbed as the only plugin, one oEmbed field in a single global set. The Vimeo embed worked as expected and did not produce the error.

Craft CMS 3.3.0.1
oEmbed 1.1.6
PHP 7.3.0

I then deployed the code to a DigitalOcean server in London provisioned via Laravel Forge which is the same as the other development site that was hav

[2019-09-03 12:44] iparr commented on #19
Utterly bizarre @bendesilva: I'm on a Digital Ocean New York box.

Thanks for sharing your research. Where next? (!)

[2019-09-03 12:45] bendesilva commented on #19
Have reached out to Vimeo support and also on Twitter, hoping they respond quick! Have a client who's website in development that relies on Vimeo embedding, so hopefully more soon. Will keep you posted if I hear more.

[2019-09-03 23:35] reganlawton commented on #19
@iparr @bendesilva its weird thats the case. are you able to curl the URL via the ssh terminal on the DO machine?

[2019-09-04 06:55] bendesilva commented on #19
@reganlawton Yeah CURLing Vimeo's oEmbed endpoint works from the DO box fine. But turns out that the embed package you're using doesn't use the Vimeo oEmbed endpoint but instead scrapes the webpage which is weird. I tried a reduced test case using just that package and when you try embedding a Vimeo video it returns an "invalid URL" error which is actually a Vimeo 403 forbidden page titled "You ha

[2019-09-04 07:15] reganlawton commented on #19
@bendesilva it doesn't look like its just the web site, I tested with `https://player.vimeo.com/video/73234721` and it failed too so it might be DO blocked totally. DO being a cheap hosting site it must be a to prevent scraping and downloaders, prevent by a rate limiter.

On looking into the plugin I saw that the oEmbed providers don't contain a Vimeo class. `https://github.com/oscarotero/Embed/tr

[2019-09-04 07:19] reganlawton commented on #19
I think that the Vimeo support needs to be added to the package. If you don't get a timely response from the maintainer, let me know and I'll create a fork, develop a Vimeo update and run that till they get onto on it on the main package.

[2019-09-04 07:23] bendesilva commented on #19
@reganlawton Thanks, sounds like a plan. I use this plugin a lot on Craft client sites (thanks very much for building it!) and more often than not they use Vimeo for its simple player UI so would be great to get it working.

In the meantime I've rigged up a simple Guzzle / oEmbed endpoint solution for the site I was working on in question as it just uses Vimeo for video embeds, but will switch bac

[2019-09-04 08:04] reganlawton commented on #19
No issue I plan to add more support  to this package shortly seeing as it’s in the CraftCMS sytarter package now. If it means taking over the embed package support to well guess that’s that. I should have unit tests for this stuff soon also which should help in the future.

Sounds like a proxy for the request, which would have been my recommendation for this. I might consider that as a feature in

[2019-09-15 20:22] mlathrom opened #20 "Ajax embed preview doesn't work if you change the cpTrigger setting"
Since the path to templates is hardcoded in the AJAX request, if you change the admin url, then the live preview doesn't work.

**oembed.js**
[code]

[2019-09-15 20:51] reganlawton commented on #20
Argh! This is a great point I’ll update this.

[2019-09-16 00:04] #20 closed

[2019-09-16 00:05] reganlawton commented on #20
Resolved in v1.1.7

[2019-09-16 00:07] reganlawton commented on #18
@gudehus did you get a chance to see if this was cos you were calling the matrix block ad ot the oembed field?

[2019-09-16 00:17] reganlawton commented on #17
Deployed fix in v1.1.8

[2019-09-16 00:17] #17 closed

[2019-09-16 00:17] reganlawton commented on #14
Deployed fix in v1.1.8

[2019-09-16 00:17] #14 closed

[2019-09-16 00:17] #18 closed

[2019-09-16 01:57] mlathrom commented on #20
Nice! Great plugin, man. Thanks for the hard work.

[2019-09-16 19:46] bendesilva commented on #19
@reganlawton My PR has just been merged to the embed dependency which fixes this issue, hopefully there's a new release shortly!

[2019-09-16 21:59] reganlawton commented on #19
Awesome 👏👏👏let me know here or submit a PR when it’s ready. Whichever you prefer.

[2019-09-17 04:43] reganlawton commented on #20
@mlathrom no issues thanks for the bug report.

[2019-09-18 07:50] bendesilva commented on #19
@reganlawton Just had a notification that version 3.4.2 has been released which incorporates my commit. Cheers!

[2019-09-19 04:55] reganlawton commented on #19
@bendesilva as i don't commit the composer.lock this just requires a standard `composer update` or safer still `composer update embed/embed` and this it should be fine.

I'm closing unless someone wishes to re-open.

[2019-09-19 04:55] #19 closed

[2019-09-19 07:58] nitech commented on #17
Sorry that I did not get to try it before you deployed. Great work Regan :-)

[2019-09-19 08:21] iparr commented on #19
Thank you for everyone who contributed to this 👍

[2019-09-19 08:28] reganlawton commented on #19
Yes great team effort to all involved. Thank you all for the continued support with this plugin. 👏👏👏

[2019-09-19 08:29] reganlawton commented on #17
Did it resolve your error?

[2019-09-19 09:15] bendesilva commented on #19
Thanks all!

On Thu, 19 Sep 2019 at 09:28, Regan Lawton <notifications@github.com> wrote:

--
–
Benedict de Silva
United Forms

M +44(0) 7961 845 054
T  +44(0) 20 7097 1455

Registered name: United Forms Limited. VAT No. 220 0871 54. Company
Registration No: 09721987. Registered Office: 1st Floor Radius House, 51
Clarendon Road, Watford, Herts, WD17 1HP, United Kingdom

[2019-10-09 14:55] iparr opened #23 "Support GDPR-friendly cookieless YouTube embeds"
I realise this is a bit edge-case and perhaps out of the scope of this plugin, but I believe it brings value so bare with me!

In Europe we have the GDPR which sets rules to how you can use cookies on websites. Google have reacted to this by providing ['Privacy Enhanced mode'](https://support.google.com/youtube/answer/171780?hl=en-GB) for embeds which doesn't drop any cookies into embeds - which i

[2019-10-09 19:55] reganlawton commented on #23
Hmm interesting 🧐 I’m familiar with GDPR and normally would use the no cookie URL but the end user might find that hard I agree. It’s possible I can add an option in the settings that transforms the URL on the fly.

I have another PR I’m reviewing and will assign time to look at this as well.

[2019-10-10 05:24] reganlawton commented on #23
@iparrOk this shouldn't be a major ask. I'll also add the Vimeo GDPR `dmt=1` tag for Vimeo. Give me till Monday to assign so time to this

[2019-10-19 15:57] johnniefp opened #24 "Adding to querysting of media.url when using render method."
Been looking through the issues on this damn handy plugin and cannot find an equivalent issue.

Problem I have is when a video is paused or finished YouTube throws up related videos, nice if you're browsing but not nice if your company video is displaying your competing company video after viewing.

I've got around this in the past appending adding '**&rel=0**' to to the youTube url path as shown

[2019-10-19 21:35] reganlawton commented on #24
I recently added a way to do this. I’ll extend the plugin to support the ‘rel’ option.

[2019-12-08 12:13] wuhhh opened #25 "FR: GraphQL Support?"
Hi, unless I am missing something, it seems only the user input embed URL is exposed to graphql. Since gql support in Craft is now native, do you have plans to support this and expose all data?

Thanks

[2019-12-08 22:30] reganlawton commented on #25
Yeah GraphQL support should be coming. I'm hoping to get some time soon to get a heap of new features out for the plugin, with the XMAS break just around the corner.

[2019-12-18 10:58] hannahwoodward opened #26 "Undefined index: autoplay"
After performing some routine CMS & plugin updates on Craft, Sentry has started reporting an error for the oembed plugin, happening from both editing an entry and in the templates on entries that are using the oembed field.

https://sentry.io/share/issue/c4683affddff40c3bdcaad1ce37dffd7/
https://sentry.io/share/issue/d67205af7c234e058c4672eaf199ecf8/

Plugins updated:
- Craft (3.3.18.3)
- Sentry (

[2019-12-18 11:16] reganlawton commented on #26
I can see the issue here it’s that the array key is being called. A quick quick is to past auto play as an option till I can rest a new version tomorrow with the required empty() check.

[2019-12-18 11:22] hannahwoodward commented on #26
Thanks! The site hasn't broken so it's not super urgent, just thought I'd forward on the error.

[2019-12-18 11:43] reganlawton commented on #26
Argh I think I might it’s cos I put it in a try-finally and not handling the catch. It still needs to be fixed regardless I have time assigned over the holidays to make a few updates to all my plugins.

[2019-12-18 12:24] iparr commented on #23
@reganlawton Just wondering if you've been able to look at this?

If so, did you hit any obstacles and can I help in any way?

[2019-12-18 12:29] reganlawton commented on #23
I recently started a new position so have been crazy flat out. I’m just about over a project a copy of the code sitting in a local branch I just need to make sure it’s not gonna break anyone’s code. The regex needs to be correct.

[2020-01-14 10:05] hannahwoodward commented on #26
Any update on this?

[2020-01-15 03:07] reganlawton commented on #26
@hannahwoodward  I'm truely sorry about this! I was working completely over the holidays due to a crazy project, even XMAS 😅

I'll try get this attacked tonight!

[2020-01-19 10:21] reganlawton commented on #26
@hannahwoodward I've pushed out a release v1.2.0 which should have you issue resolved.

[2020-01-19 10:22] reganlawton commented on #25
@wuhhh You should be able to use GraphQL in v1.2.0 and there is documentation on usage and I recommend using the cache feature hidden in the plugin settings.

[2020-01-19 10:22] #25 closed

[2020-01-19 10:33] reganlawton commented on #24
@johnniefp  The `rel`  is now supported in v1.2.1

[2020-01-19 10:33] #24 closed

[2020-01-19 10:34] #26 closed

[2020-01-19 22:14] wuhhh commented on #25
Lovely, just did a quick test and working well :)

[2020-01-21 04:53] reganlawton commented on #25
@wuhhh Thanks for the feedback and my deepest apology on the length of action on this issues. I plan to assign more support time to my plugins in the future.

[2020-01-21 04:54] reganlawton commented on #23
@iparr This has NOT been forgotten. Sorry for the delay on this one.

[2020-01-23 12:05] migswd opened #29 "Youtube autoplay or mute options not working"
I am trying to add the autoplay and mute options to my youtube embed but it does not work.

Here is my options defined :
[code]

And the resulted HTML :
[code]

Thanks for your help.

[2020-01-23 20:25] reganlawton commented on #29
@migswd are you using the plugin with cache enabled in the plugin settings?

[2020-01-24 06:47] migswd commented on #29
No cache is disabled.
![CleanShot 2020-01-24 at 07 46 42@2x](https://user-images.githubusercontent.com/3531623/73049751-b6fba280-3e7d-11ea-8bf2-1f6be476ba1e.jpg)

[2020-01-24 06:50] reganlawton commented on #29
What version are you running?

[2020-01-24 06:56] migswd commented on #29
oEmbed 1.1.8 / Craft CMS 3.3.20.1

[2020-01-24 07:22] reganlawton commented on #29
Have you tried the new 1.2.x releases?

[2020-01-24 09:04] migswd commented on #29
Not yet. OK I m going to try today.

[2020-01-24 16:16] migswd commented on #29
I got a problem updating oEmbed (I succeeded to do 4 other plugins update but oEmbed update has a problem).
I also tried to remove the plugin completely and reinstall it from scratch but got same problem :

Composer output: Package "craftcms/vue-asset" listed for update is not installed. Ignoring.
Package "danielstjules/stringy" listed for update is not installed. Ignoring.
Loading composer reposi

[2020-01-27 13:58] migswd commented on #29
OK I succeeded to update oEmbed in 1.2 release.

Here the solution :
Check for this section of your composer.json and change the PHP version to >=7.1.3

So here the right code for Craft composer.json :
[code]

[2020-01-27 14:25] migswd commented on #29
OK it is working the first time I display a Youtube or TED Talk video, not working for a Facebook video.
And it breaks the html elements that are following the iframe, dont know why.
I need to make  a minimal page so I can debug precisely and give you more infos...

[2020-01-27 14:28] migswd opened #30 "Facebook video mute when playing"
Is there a way to make Facebook embedded videos unmute when we click PLAY?
Because now the Facebook videos are MUTE after click on PLAY:
![image](https://user-images.githubusercontent.com/3531623/73182592-9d768700-4119-11ea-982e-51ca005bbf52.png)

(is there also a way to remove the infos at top/left and the share link at top/right?)

[2020-01-29 23:04] reganlawton commented on #29
@migswd can you post the URL your using? I should have a release in a minute that will be a new way to modify the iframe URL to enable features like mute that are't supported byut the providers oembed protocol

[2020-01-30 22:43] richardcalahan opened #32 "Upgrading to 1.2.0+ disables admin UI"
### Description
After upgrading to 1.2.0+ the admin UI is completely disabled for entries that contain an oEmbed field. This happens only after the entry is saved with a value for the field. Once the iframe preview is visible, the UI becomes unresponsive.

It seems as if javascript is completely disabled at this point. Image previews don't load, field tabs don't work, fields themselves are not cli

[2020-01-30 23:03] reganlawton commented on #32
Is there any errors in your dev console for JavaScript? @richardcalahan ? Just wanting to see if it might be a conflict with new Craft 3.4 updates

[2020-01-30 23:04] reganlawton commented on #32
The iframe is also pulled using AJAX so if the JS is failing then it would be prevent the iframe from loading the preview

[2020-01-30 23:06] richardcalahan commented on #32
There are no javascript errors in the console. The preview still loads, oddly enough.

[2020-01-31 00:10] reganlawton commented on #32
So the preview kids but the rest of the page freezes up?

[2020-01-31 01:14] richardcalahan commented on #32
I can navigate in the left sidebar, but anything other than a proper href loses functionality.

[2020-01-31 01:59] reganlawton commented on #32
@richardcalahan I'm running using the latest version of both CraftCMS and Oembed and cant seem to see an issue. Can I ask which URL you using in the field? Do you possibly on the CraftCMS discord or discord itself? Maybe we can connect and continue the troubleshooting there? Otherwise my email is reganlawton92gmail.com if you have a staging site that have the issue I might be able to see or even t

[2020-02-01 00:45] richardcalahan commented on #32
I'm using Oembed for Vimeo videos. OK, I'll test more on my end too. Will let you know what I find.

[2020-02-02 22:25] reganlawton commented on #30
You can now pass through params to the final URL. If the iframe url supports params to remove controls you can now do it. The facebook documentation want be the next best step.

[2020-02-02 22:25] #30 closed

[2020-02-02 22:26] reganlawton commented on #32
Please do. I'll keep this open for abit longer. If its a plugin conflict please also let me know @richardcalahan

[2020-02-02 22:27] #29 closed

[2020-02-03 03:50] pl-mnm commented on #15
Hi there, I'm starting a project where I could use this functionality. Is it still on the todo list? Thanks!

[2020-02-03 05:56] reganlawton commented on #15
@pl-mnm Yes it is theres a PR (#22) then I just need to review and update now that I've got a heap of other changes out. It's needs a couple of tweaks then it'll be out hoping next day or so.

[2020-02-04 06:47] nickcobley commented on #32
I can reproduce this issue too, I've spent all morning troubleshooting it.

I'm coming from v1.18 and the problem is introduced for me in version 1.2.0.

Note for me this breaks the UI both in the control panel and when rendering it on the frontend in the same way as described above.

I've run out of time to troubleshoot this today, but I think I may have just found the problem.

Prior to 1.2.0, i

[2020-02-04 07:16] reganlawton commented on #32
Great find! I’m working stupid late on a deadline tonight but will try get it actioned tomorrow.

 It might be due to how different browser render and that’s why I didn’t get the issue. I’m also wondering if it’s due to the version of embed plugin 🧐. I can ofcourse do a regex replace on the \> worst case.

What browser and version and OS are you using? Find me on CractCMS discord to chat.

[2020-02-04 09:16] nickcobley commented on #32
I'm testing in latest Chrome on OS X  79.0.3945.130, I've also tested and can reproduce in Safari and Firefox. My feeling is that there is maybe some edge case that causes it to work in some cases and not in others. I swear I had it working at some point but never pinned down why.

Looking at my embed plugin, seems to remain the same version. 3.4.2 between updates to oembed.

I'll leave you alone

[2020-02-04 09:40] nickcobley commented on #32
Yep, can easily reproduce on another site.

[2020-02-04 13:25] reganlawton commented on #32
Can I please get steps to reproduce? It’s 1230am AEST currently and I’m up at 5am to finish deadline piece but after that I should be able to look into the issue around 12pm AEST and if I can reproduce and have your testing guide I can debug trace what’s going on and get a patch ASAP 👍😁

[2020-02-04 13:29] nickcobley commented on #32
Leg me see if I can reproduce on a vanilla craft install first, want to be sure my steps will actually reproduce it for you without other plugins etc interfering. I'm on the West Coast so still a few hours before it's the wrong side of midnight, I'll try get it done for you tonight, if not no rush on my part, it's not holding anything up.

[2020-02-04 13:33] reganlawton commented on #32
I pinged you a request on Discord feel free to grab me on there for a chat tomorrow anytime 👍 or just post here 😂

[2020-02-04 14:41] nickcobley commented on #32
Okay created a fresh install of Craft 3.4.3 with only oembed 1.2.2 and reproduced the issue right away, works with any Youtube URL I think, or at least the handful I tried.

So to reproduce:

1. Create an oembed field
2. Create an entry then add any Youtube URL, I used https://www.youtube.com/watch?v=aqz-KE-bpKQ
3. Save the entry, then open it again and make sure your on a tab that renders the pre

[2020-02-05 04:35] brandonkelly opened #33 "oEmbed requires PHP 7.1.3+"
Ever since 1.2.0 (067706bdbe5f2e2af879d6834d4951ab419441b1), oEmbed requires `laravel/helpers`, which requires PHP >=7.1.3. That’s a bit of a problem because Craft installs currently require PHP 7.0-compatible dependencies: https://github.com/craftcms/craft/blob/master/composer.json.default#L14-L16

I couldn’t tell from that commit what you’re actually using the `laravel/heplers` package for. If y

[2020-02-05 05:32] reganlawton commented on #32
@nickcobley I can see how I missed this in testing as it all works still. The `iframe` self closing prevents DOM loading cos it rended as everything after is inside the `iframe`. Easy fix and I'll get it right out.

[2020-02-05 05:38] reganlawton commented on #33
Hmm... @brandonkelly what ever I use it for I can pull it out and replace with vanilla, or use a PHP 7.0-compatible of the helpers library. This shouldn't be an issue at all and happy to fall inline with Craft's support.

[2020-02-05 05:51] nickcobley commented on #32
Legend, confirmed fixed for me here. Thanks so much for the quick fix on this.

[2020-02-05 06:57] reganlawton commented on #33
@brandonkelly  can you check `dev-feature/php7` and confirm that it's up to your minium PHP requirements.

[2020-02-05 06:58] #32 closed

[2020-02-05 12:42] brandonkelly commented on #33
That appears to have solved it! So I take it you weren’t using anything from laravel/helpers in the first place?

[2020-02-05 20:22] reganlawton commented on #33
Original yes I was but I removed the feature that used the helpers and didn’t remove the package in case I needed the helpers, such as collections, etc in future features. I’ll merge this into master and tag a new release.

[2020-02-06 16:25] migswd opened #35 "Width and height params do not work"
I am adding the width and height params to make the iframe bigger but it does not work.
I got oEmbed plugin last version (1.2.4).

Here is my twig code :
[code]

Et voici le code iframe en output :

![image](https://user-images.githubusercontent.com/3531623/73956663-90217f80-4905-11ea-93a8-0cac70a80e7a.png)

Thanks for help.

[2020-02-06 20:22] reganlawton commented on #35
@migswd firstly thanks for submitting an issue.

Now the Param field is used to modify the URL query string not the iframe params. However it seems this isn’t the case for you at all. Do you have cache enabled by chance? The width is normally controlled by CSS HOWEVER I can update the DOM manipulation to support updating the width and height attributes.

[2020-02-07 07:33] migswd commented on #35
Yes I have cache enabled. I switch it off and I see the url with all params now.
![image](https://user-images.githubusercontent.com/3531623/74009743-2c8a6700-4984-11ea-8d7d-d98f3336bc66.png)

So to modify width and height I should use css or do that :
`entry.fieldname.render|replace('width="600"','width="100%"')|raw`

That would be great that you update the plugin to take that manipulation in char

[2020-02-09 22:13] #33 closed

[2020-02-09 22:32] reganlawton commented on #35
@migswd you now have the option to override the width and height, see [v1.2.5](https://github.com/wrav/oembed/releases/tag/1.2.5). I'll also be opening an issue / feature where I'll add support to override / set / manage all iframe DOM. attributes to allow overriding of attributes and adding missing / custom attributes as most my issues are managing attributes 😅

THanks for opening an issue and ho

[2020-02-09 22:32] #35 closed

[2020-02-10 08:20] migswd commented on #35
Thats great thank you  !!

Miguel Bocquier
miguel@silkwormdream.com
http://silkwormdream.com
+33 (0) 6 51 40 01 80

[2020-02-10 15:54] brandonkelly commented on #33
Thanks @reganlawton!

[2020-02-15 16:23] migswd opened #36 "Detect when video is not available anymore on Youtube?"
Is it possible to detect (like receive a Craft BO alert) when a video is not available anymore? (cf screengrab)
It happens regularly on Youtube.
![image](https://user-images.githubusercontent.com/3531623/74591375-c6eb4a00-5017-11ea-993b-b3da8530f8c1.png)

[2020-02-15 19:52] reganlawton commented on #36
There isn’t really a way to achieve this easily. Does the iframe return a 404 or something? I ask cos if so I could probably, hopefully, just detect a status code and trigger an error.

[2020-02-17 06:41] migswd commented on #36
No it is not a 404.
Here the video has become private :
![image](https://user-images.githubusercontent.com/3531623/74629600-e473fd00-5158-11ea-9adf-9ca90bd1513f.png)

[2020-02-17 06:53] migswd commented on #36
Awesome !! :)

[2020-02-27 23:42] codyjames opened #37 "Preview is a bit large"
The preview is kinda large (especially on Instagram embeds). I wonder if there is a good way to make the preview be collapsed by default, or something to that effect.

[2020-02-28 00:04] reganlawton commented on #37
I quite like this idea TBH 🤔 maybe have a setting to manage it.

[2020-02-28 16:23] codyjames commented on #37
That'd be nice. Also, some embeds break out of the width of the container. I'm seeing it currently on Vimeo. I think the Preview stuff just needs some refinement. Not huge deals at all, just some minor issues on a very useful plugin.

[2020-02-28 18:17] codyjames opened #38 "Render method not working for Instagram"
This works fine for Youtube and Twitter, but when I try an Instagram URL, the preview works but the render method does not. I could be doing something wrong but I've done fairly extensive testing.

Ideas?

[2020-02-28 22:05] reganlawton commented on #38
Is it any Instagram URL? Can I can a confirmed test link please.

[2020-02-28 22:35] codyjames commented on #38
Yeah, I tried multiple URLs. Here is one I tried: https://www.instagram.com/p/B9H26HChL4R/

[2020-02-29 09:42] reganlawton commented on #38
Great I’ll look into this when I next get a second. I’m moving this weekend but I might be able to get some time to look into it.

[2020-03-04 06:35] reganlawton commented on #38
@codyjames I tested the link you provided `https://www.instagram.com/p/B9H26HChL4R/` and it worked for me. Can you test again to confirm its wasn't an issue with the Instagram server at the time you tested

[2020-03-04 11:58] reganlawton commented on #37
Got a release coming in the next 12-24hrs! Sorry for the delay being quite busy.

[2020-03-04 12:00] reganlawton commented on #36
Have a new release with opt in setting to get notification via email for broken links. This should be out in the next 12-24hrs. Just have a few things I need to clean up.

[2020-03-04 16:51] codyjames commented on #37
Very cool! Thank you, @reganlawton!

[2020-03-04 16:55] codyjames commented on #38
I'll give it another shot, thanks!

[2020-03-05 00:33] reganlawton commented on #38
I'll close just comment here again and I'll reopen if it's still the case. Is you can provide screenshots of what its rendering it'll be helpful.

[2020-03-05 00:33] #38 closed

[2020-03-05 00:34] reganlawton commented on #37
@codyjames Try out the v1.3.0 release and let me know.

[2020-03-05 00:35] reganlawton commented on #36
@migswd I have a new feature in settings for the plugin. Try out the v1.3.0 release and let me know. It's still a rough feature but I'll look at options to better it.

[2020-03-20 11:44] iparr commented on #23
Has there been any progress (even in part) on this?

(Don't want to sound entitled here: just recognise the value of this enhancement)

[2020-03-20 11:54] reganlawton commented on #23
Yes I’ve started working on it just trying to find the right way to add it. Currently looking at a REGEX option.

[2020-03-20 11:56] iparr commented on #23
I appreciate the update, thank you.

[2020-03-20 22:49] codyjames commented on #37
It's pretty good! I do have another idea I'm going to try out real quick though (via a fork).

[2020-03-20 23:42] reganlawton commented on #37
No issues

[2020-03-20 23:53] codyjames commented on #37
I think this can be marked as complete. As either your solution (already implemented) or mine (#40) solve for it.

[2020-03-20 23:53] #37 closed

[2020-03-24 02:50] dbakeernd opened #41 "Works on local but not production"
Hi! So when I put a YouTube link in my local Homestead/Laravel environment, it works fine. When I push to our production, for whatever reason, it fails. Sometimes it resolves, but it's a little distressing as this is a public website i'm working on. Is there any explanation or solve for this?

Local is nginx. Staging and production is Apache (another company set it up). Don't know if this makes a

[2020-03-24 02:56] reganlawton commented on #41
That’s strange. 🤔

Can you try using curl locally via SSH a few times to see if you get rate limited? As the request uses an out bounce request.

Another issue might be caching. Does your site have caching enabled? If so can you try it turned off?

Additional info would be... does this happen every other request or is it always failing no matter what?

Provide your discord info if you want to chat

[2020-03-27 21:02] dbakeernd commented on #41
Hi @reganlawton!

Issue resolved on its own, but when I pushed additional changes it failed. Ran a curl request and it succeeded. Ran a few more for safety and they all went through.

Caching is not enabled; cleared caches just in case, but no luck.

[2020-03-28 00:49] reganlawton commented on #41
@dbakeernd sorry so your still having issues?

[2020-04-10 17:43] danvolkens opened #42 "Description character count limited?"
It seems that description is char-limited to 246 or so. Is that intentional? If it is, we'll make sure to adjust our descriptions to accommodate. Here's an example: https://oscarotero.com/embed/demo/index.php?url=https%3A%2F%2Fwww.buzzsprout.com%2F108830%2F2249300-ventilation-oxygenation-and-perfusion

Tks!

[2020-05-06 08:09] bhashkar007 commented on #23
@reganlawton
I am also waiting for this feature to be added :) Thanks

[2020-05-06 09:55] reganlawton commented on #23
Argh sorry guys 😅 I’ve been pulling insane hours helping my developers meet client deadlines. We are almost done. I’ll try find a moment to think this it’s setting half complete.

[2020-05-07 04:57] reganlawton commented on #42
THis is a good point. I only used a input field, which would be a VARCHAR by default, so I'll have to look at converting to a TEXT column.

This is doable.

[2020-05-07 05:14] #36 closed

[2020-05-07 13:07] danvolkens commented on #42
Thanks, man! I'll pass along there as well.

[2020-05-07 15:38] danvolkens commented on #42
Just to wrap this up and put it to bed, here is the owner's response, which makes sense! Tks again for looking into it. We'll just accommodate on our side.

https://github.com/oscarotero/Embed/issues/353

[2020-05-07 15:38] #42 closed

[2020-05-08 01:37] reganlawton commented on #23
@iparr and @bhashkar007  I have added a new PR and you should et able to update to `dev-feature/gdpr` in composer and test it out.

Everything happens for now on the backend. It's actioned when the IFRAME is generated. If your using the Cache feature I recommend removing it for testing as it caches the URL results for 1hr so the GDPR effect would likewise take 1hr to take effect.

Let me know if y

[2020-05-08 10:47] iparr commented on #23
I have tested this and it behaves as expected (i.e. 16 less YouTube cookies!)

I don't really understand your caching point.

In production I'd probably wrap this whole thing (an entire article, videos and all) in a native Craft cache tag, so there would be no request to the oEmbed providers servers the iFrame or whatever would just be there.

Is the cache feature for scenarios where I am unable t

[2020-05-08 12:15] reganlawton commented on #23
Great to hear! So basically I use the Craft caching system to cache to serialised embed object. If your using CraftCMS caching that’s fine but if you only cache for say 15mins etc then it just saves you a quite slow network request. The point was more to help troubleshoot if it didn’t work due to the option being enabled.

I’ll look to move this into master and give it a release version tomorrow A

[2020-05-10 21:05] iparr commented on #23
I have found a problem:
On some services with GDPR on (those I think who have special rules), this works fine.

However other services (i.e. Spotify) the plugin tries to render them in YouTube. So you get an embed like this:

[code]

Which of course doesn't work. As soon as I switch the "Enable GDPR" switch off, then everything is fine (but of course it won't use the 'no-cookie' embeds).

[2020-05-10 23:37] reganlawton commented on #23
@iparr what URL did you try? I just want to test the REGEX

[2020-05-11 15:59] iparr commented on #23
`https://open.spotify.com/album/6hPkbAV3ZXpGZBGUvL6jVM`
…😭, although I've had similar behaviour with other links (playlists, as well as albums).

This behaviour is consistent. Both with cache on and off (I've tested this pretty well!)

[2020-05-11 23:19] reganlawton commented on #23
@iparr I appreciate the testing helps on a solo project like this! I'll look into this today.

[2020-05-11 23:46] reganlawton commented on #23
@iparr The issue was once the `embed/embed` generated the embed link it matched the youtube regex which I've now updated to be abit more basic and Youtube focused 😅

Let me know how this latest version goes.

[2020-05-12 20:59] iparr commented on #23
I have updated and re-tested this.

It all seems fine.

All other service load alongside the YouTube (which uses a different domain) and Vimeo (which appends `dnt=1` (see: https://vimeo.zendesk.com/hc/en-us/articles/360001494447-Using-Player-Parameters) to the URL.

Good work.

[2020-05-12 22:04] reganlawton commented on #23
@iparr thank you so much for A) your patience and B) the awesome testing.

I’ll get this released today.

[2020-05-13 00:41] reganlawton commented on #23
Released and tagged v1.3.1

Thanks again @iparr and @bhashkar007

[2020-05-13 00:41] #23 closed

[2020-05-13 00:42] reganlawton commented on #41
@dbakeernd I'm closing but if the problem continues plus comment and I'll reopen.

[2020-05-13 00:42] #41 closed

[2020-05-13 09:38] iparr commented on #23
🎉 Nice one.

I work with publishers and I really don't see a better way of embedding 3rd party content in Craft CMS and privacy should be a key consideration. I wish this was made core!

[2020-05-13 09:55] bhashkar007 commented on #23
Thanks a lot @reganlawton  :)

[2020-05-13 11:41] reganlawton commented on #23
@bhashkar007 no problem and @iparr i appreciate the feedback and while Craft CMS does use / recommend my plugin in its starter blog, I believe it’s easier for them to have a third party maintaining it 😂

[2020-05-25 05:22] bradhardinge opened #44 "Instagram not working on production"
Hi there, I've been able to get Facebook and Instagram links working great locally. Just pushed an update to test live and Facebook works fine by Instagram does not. See screenshots below. Any ideas?

Local:
![Screen Shot 2020-05-25 at 3 20 24 pm](https://user-images.githubusercontent.com/2033525/82780735-6cc21680-9e9b-11ea-8b7c-e9a77b4a301c.png)

Live:
![Screen Shot 2020-05-25 at 3 19 25 pm](http

[2020-05-25 06:21] reganlawton commented on #44
@bradhardinge

Does it work on production with the query string?
Do you have caching enabled?
Can you please also provide the URL here please.

[2020-05-25 07:13] bradhardinge commented on #44
@reganlawton

Sorry no, I took the screenshots at different times but I tried with and without the querystring and with a number of different links.

Cache is turned off in the oEmbed plugin settings.

Here is a Instagram URL I just tested, same issue: https://www.instagram.com/p/CAY_UEQlhf6/

Get the following issues in devtools:
![Screen Shot 2020-05-25 at 5 07 32 pm](https://user-images.githubu

[2020-05-25 10:04] reganlawton commented on #44
OH! It looks like you have SameOrigin headers set. This isn't a issue with the plugin more the server. You can read more about it and Content-Security-Policy (CSP) here (https://www.geeksforgeeks.org/http-headers-x-frame-options/). YOu;ll need to modify your Apache / Nginx configure here.

This raises a massive point those that I need to have in the README something about Cross Site SecOps side of

[2020-05-25 10:22] bradhardinge commented on #44
@reganlawton

Oh right, I'll see if I can work out the server config stuff.

Odd this effects Instagram but not Facebook.

[2020-05-25 11:49] reganlawton commented on #44
Hmm actually now I see that error closer. it might be instagram server that’s got the policy 🤔 I’ll have to spin up a box in the AM and look at that link closer

[2020-05-26 03:16] bradhardinge commented on #44
@reganlawton

I think you're right about it being Instagram limiting what we can use with embed. I was trying to use the the following in my own design:

[code]

Looks like this is specifically not allowed (see here: https://developers.facebook.com/docs/instagram/embedding)

Using an Instagram URL in the following format `https://www.instagram.com/p/CAY_UEQlhf6/embed` works with `entry.field.rende

[2020-05-26 03:47] reganlawton commented on #44
@bradhardinge Great find!

They must have a new policy as last time used instagram it worked. I'm not a massive Instagram user myself, mostly to watch skateboard related content, so I must have missed this. I'll have to pin this issue in the README as this is "need to know".

I got abit crazy this morning and only just got to this now.

[2020-05-28 13:51] helleholmsen opened #45 "Get the width and height attribute from a direct vimeo link"
How can I get the width and height from a direct vimeo url? The plugin fetches and returns the url but the media.width and media.height returns null. If the plugin doesn't do that, is it possible to get the preview image from the CP?

[2020-05-29 07:17] reganlawton commented on #45
What’s the URL your trying to URL? So I’m unable to test. I believe it should be working

[2020-05-29 10:19] helleholmsen commented on #45
@reganlawton https://vod-progressive.akamaized.net/exp=1590761946~acl=%2A%2F1832751525.mp4%2A~hmac=af3d6bc73d964b280ca2ba77b962fb8ca343d977d7317c562e0d0719bd4becca/vimeo-prod-skyfire-std-us/01/4716/16/423581061/1832751525.mp4

[2020-05-29 11:01] reganlawton commented on #45
I’ll take a look over the weekend.

[2020-05-31 05:44] reganlawton commented on #45
The URL you provided isn't going to work firstly as it's giving a error "Access Denied". Secondly your URL is a direct MP4 file not a vimeo link, a vimeo link looking like so.

```https://vimeo.com/1084537```

Can you try using the vimeo URL not the direct vimeo video URL.

[2020-06-03 07:52] denisyilmaz opened #46 "Internal Server Error: GraphQL fails to get oembed fields"
Since version 1.3.0 the oEmbed field fails in GraphQL with an internal server error. For example:

[code]
results in:

`Undefined property: class@anonymous::$code`

Versions:
CraftCMS – 3.4.22.1
oEmbed – 1.3.1

[2020-06-03 09:16] reganlawton commented on #46
Argh ok that’s abit weird. Can I know the lin Lyon used to get the error?

[2020-06-03 10:00] helleholmsen commented on #45
@reganlawton yes, I'm aware that it works with the vimeo embed but what if you just want to use the video as a background video to loop without the player?

[2020-06-03 10:35] denisyilmaz commented on #46
Hm, I now downgraded to 1.2.5 but have the same error. It seems it has to do with my staging server as my local server has access to the field without any problem. the error log doesn't show any additional information.

but I found an additional error:

[code]

[2020-06-03 13:34] reganlawton commented on #45
This plugin takes a link and returns a iframe based on the OEmbed protocol. If you want to use a MP4  video file just use the built in HTML <video> element. There is no need for a plugin.

I’m I correct that your wanting to use a MP4 file link?

[2020-06-03 13:35] reganlawton commented on #46
Perfect 🙌 ill look at this tomorrow. Do you also have the link your trying to use?

[2020-06-03 14:41] denisyilmaz commented on #46
@reganlawton thx for the quick reply. I've send you an email with the link: https://www.basics.ynm.studio/de/hair-make-up/artists/kerstin-hoffmann/projekt/sir-ben-kingsley-a-ordinary-men?category=10975

the absolute strange thing: another project that has a different youtube embed works like charm. and when I copy the embed (https://www.youtube.com/watch?v=K5RQAK3SDEI) to my local backend it works

[2020-06-03 15:04] helleholmsen commented on #45
@reganlawton you are correct :) The vimeo URLs are being posted in the CMS so I was trying to test if the plugin could get the height, width or thumbnail so I could get the aspect ratio before the video was loaded.

[2020-06-03 22:26] reganlawton commented on #45
Argh yep I see. This plugin can’t get that meta data as it requires the oembed meta data. By accessing a file directly there’s nothing to act on.

Sorry the plugin wasn’t able to meet your needs 😅

[2020-06-04 13:09] helleholmsen commented on #45
@reganlawton ok! thank you for replying :)

[2020-06-04 13:09] #45 closed

[2020-06-05 05:12] reganlawton commented on #46
@denisyilmaz ARGH! I see the error here.

THis works for me

[code]

BUT this doesnt..

[code]

Seems the issue here is I missing the return scope for the edge case for no sub set.

As said the quick solve is as above, but I'll look into a solve for this.

[2020-06-05 05:56] reganlawton commented on #46
@denisyilmaz Give v1.3.2 a shot

[2020-06-09 17:39] jdsimcoe commented on #35
Hey @reganlawton previously I had two CSS classes on my iFrame that did formatting with. Now, with `oEmbed` I'm having trouble figuring out how to add these classes via the API. Is there a way to do this?

[2020-06-15 15:41] denisyilmaz commented on #46
Hi @reganlawton
I just updated to 1.3.2 but now GraphQL crashes instantly:

From CraftCMS CP:
[code]

[2020-06-15 15:48] denisyilmaz commented on #46
ah, I guess you tested this in CraftCMS 3.5, right? I'm still on 3.4.23

[2020-06-15 15:50] denisyilmaz commented on #46
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/4189607/84678748-ab923c00-af30-11ea-83d6-67b00b5d3397.png">

[2020-06-15 22:36] reganlawton commented on #46
Argh I might have 🤔 I’ll have to patch this today.

[2020-06-22 14:43] joshuabaker commented on #46
@reganlawton [`1.3.2`](https://github.com/wrav/oembed/releases/tag/1.3.2) references what sounds like the same issue, but we’re still seeing this. What’s needed to get this working?

[2020-06-22 17:24] lenvanessen commented on #15
Keep in mind that you'd want to cache the thumbnails, or not do it all. We had issues with embedded assets firing hundreds of requests to get meta information from the admin, breaking the cms.

[2020-06-23 02:03] reganlawton commented on #46
Ok so the issue here is that the queries in 1.3.1 don't work if you don't provide the sub selection. In 1.3.2 the issue isn't there due to CraftCMS having a new class. I didnt realise I was developing on CC 3.5 Beta still which has the fix so Im currently trying to build a 3.4 and 3.5 working version.

1.3.1 Still works BUT you need to add the sub selection fields see my previous reply. I'm curren

[2020-06-24 00:56] reganlawton commented on #46
Anon class means that it’s the fallback object 🤔 I’ll try look into this today. Yes it’s pretty crazy but hoping everything smooths out next week after my major launches.

[2020-06-24 07:26] lenvanessen commented on #41
@reganlawton
Its probablby due to https://github.com/oscarotero/Embed/issues/337
Should work in version 4.0 of Embed, as the api's are mostly not ratelimited but the sites are.

[2020-06-24 07:35] lenvanessen opened #48 "Consider upgrading Embed lirary to prevent denylisting issues"
See https://github.com/oscarotero/Embed/issues/337

[2020-06-24 07:53] reganlawton commented on #48
Will do

[2020-06-29 06:04] joshuabaker commented on #46
@reganlawton Have you had a chance to look at this? 🙂

We’ve got a delivery this week and I’m wondering if we need to swap out the oEmbed fields.

[2020-06-29 07:25] reganlawton commented on #46
@joshuabaker Im on it in a moment

[2020-06-29 07:33] reganlawton commented on #46
@joshuabaker also whats your running versions? Are you on the CraftCMS discord?

[2020-06-29 07:41] joshuabaker commented on #46
[code]

Yep. Same username as here.

[2020-06-29 12:17] reganlawton commented on #46
@joshuabaker @denisyilmaz

I have a new release v1.3.4 it seems it was an issue with PHP ?? operator and the PHP magic method __get().

If anyone continues to have issues please feel free to post here I'm much more free'd up with my two latest projects launching today. Otherwise feel we to ping me on Discord `reganlawton#1354` and I'll be able to troubleshoot with you, @joshuabaker we already conn

[2020-06-29 12:18] #46 closed

[2020-06-29 12:23] reganlawton commented on #48
@lenvanessen Our issue here is due to CraftCMS using this plugin in its starter blog repo, they asked to keep it inline with their min requirements. I have used the latest `embed/embed` and it'll amazingly better has all the new PHP features, which is GREAT, but is then hard to align with Craft teams request.

My vote here would be a breaking change and mark a new release, `v2.0.0`, which will ali

[2020-06-29 12:35] lenvanessen commented on #48
@reganlawton there is a new release of embed/embed coming for the v3.x branch that whitelists the 429 response for some extra providers, so we can just update the adapters there in the meantime if we run into issues

[2020-06-29 12:39] joshuabaker commented on #46
Thank you, @reganlawton!

[2020-06-29 12:48] reganlawton commented on #48
That’s the good news we all want 🙏 keep me updated and we can get that tagged up

[2020-07-06 17:38] adrienne commented on #48
@reganlawton - it looks like upstream updated, can you update your requirements? I've suddenly run into this issue.

[2020-07-06 18:03] adrienne commented on #48
Update: using 3.4.7, i get the following error when a 429 exists:

![image](https://user-images.githubusercontent.com/89705/86624532-4c947580-bf78-11ea-84b4-030b1b49159a.png)

[2020-07-06 23:00] reganlawton commented on #48
I should be able to account for this error @adrienne Ill set aside some time today to update the composer file

[2020-07-07 08:34] adrienne commented on #48
@reganlawton - you may also have to add an extra error-check to account for the weird serialization error there.

Ideally if i get a 429 out of oEmbed i want to use some kind of fallback image/data, so just returning false or null without triggering an exception would be good?

[2020-07-07 08:55] reganlawton commented on #48
Yeah I’ve been playing with it today few edge cases I’m working on fixing. I normally just return a iframe if the URL itself as fallback but from memory I have the valid() method to check.

I’m just out at dinner atm so I can’t check.

[2020-07-08 23:16] reganlawton commented on #48
@adrienne Your issue, which I stupidly got the HTTP code missed up with another HTTP code, is youtube rate limiting you. If you have a link that is hit often and your getting HTTP 429, you should look into use the cache feature in the plugin settings.

The `embed/embed` plugin should support the new release and will just need a `composer update` as I marked the requirement as `"embed/embed": "^3.0

[2020-07-09 15:55] adrienne commented on #48
@reganlawton - Yeah, i know it's me being rate limited. But it shouldn't throw an exception like that, it should return some kind of sensible default (or at least boolean FALSE). Throwing an exception takes down the whole page.

[2020-07-09 17:57] jdsimcoe opened #50 "`Please check your URL` YouTube bug in production"
Hi there! First, thanks so much for the wonderful `oEmbed` plugin. I'm seeing a current issue on my Laravel Forge / Digital Ocean production environment. It only happens with valid YouTube URLs:

![image](https://user-images.githubusercontent.com/275617/87073798-cc1d8100-c1d2-11ea-9442-903784be6285.png)

The output is simply `Please check your URL.` Here is an example YouTube URL that I'm trying:

[2020-07-09 18:19] jdsimcoe commented on #50
I have a staging server on the same stack as production, and it's working fine. I'm wondering if this is some rate limiting somehow. Any ideas on how I can correct this?

[2020-07-09 18:25] jdsimcoe commented on #41
@lenvanessen I'm assuming `oEmbed` would have to be upgraded to support `embed` 4.x? I'm encountering this same issue right now:

https://github.com/wrav/oembed/issues/50

[2020-07-09 22:22] reganlawton commented on #48
I can add another catch layer in there and might be best to return something HTML based.so that it’s a visually debuggable.

[2020-07-09 22:26] reganlawton commented on #50
I’d recommend doing a composer update to get the latest embed/embed version to be some a few fixes recently but rate limiting is common and is why I added caching feature in the settings, which I would recommend trying. I have attached my discord to my profile recently if you need more direct help debugging also.

[2020-07-09 22:28] reganlawton commented on #41
The v4 changes have been ported over to v3 branch from my knowledge you can use composer update to get the latest v3 changes on embed/embed

[2020-07-09 23:16] adrienne commented on #48
@reganlawton - yeah, i agree. I've been thinking about this for days, bc i've got a site about to launch, and i think my ideal would be the following:

In the event of a 429,
- `{{ entry.field.render }}` returns a plain iframe with the stored URL
- `{{ entry.field.media.url }}` returns the stored URL
- `{{ entry.field.media.image }}` and its friends (like `.images` and `.width` and `.height` ) wou

[2020-07-13 10:46] Moorst commented on #50
Seeing the same issue on 1.3.4. Done composer update for embed/embed with no luck.

[2020-07-13 16:48] jdsimcoe commented on #50
I added `embed/embed` version `^3.4.8` to my `composer.json` file and it solved this.

[2020-07-13 23:09] reganlawton commented on #50
@Moorst your issue could be related to rate limiting. Are you using the cache feature? If not try using that to prevent the re-hitting of the Youtube servers. Else you might be able to check your logs and if you like to discuss your logs more privately I'm on Discord and you can find my discord via my profile.

[2020-07-14 15:52] Moorst commented on #50
Might be due to rate limit as they're now showing fine. I did try putting the cache on but got an internal server error, will have to debug this locally.

[2020-07-15 00:18] reganlawton commented on #50
@Moorst Youtube has been rate limiting alot lately but I think I need to look at a feature here to generate a snapshot of the embed object on "save" of an entry and then if it fails during the rendering to use that version. It'll mean that we can still access data if the rate limiting happens and might solve generate issues with the 5xx error due to server outage or server errors.

[2020-07-15 17:11] tomkiss opened #51 "Add support for title attribute"
To improve accessibility for screen readers, it's desirable to have a `title` attribute on the rendered iframe.

Is there any chance support for this could be added? :)

Thanks 🙏

[2020-07-20 17:22] jdsimcoe commented on #50
@reganlawton how do you enable the cache features?

[2020-07-20 19:28] adrienne commented on #50
@reganlawton - so I was looking into how the field stores data, and this is what it stores in the database:

[code]

So why not just, at save time, actually populate the `oembed` key with the embed data? You're already fetching it for the preview. Then you don't have to get it every time, you can just always use the stored data. If someone needs to refresh it, they can resave the entry.

[2020-07-20 22:51] reganlawton commented on #50
@adrienne this is what I discussed in my comment 6 days ago, to create a snapshot on the field on create.

[2020-07-21 06:06] adrienne commented on #50
@reganlawton - yeah, i'm just suggesting that you even already have a sort of hook to hang that on, in the data you're already saving.

[2020-08-24 10:08] bencomp opened #52 "CP resources for oEmbed plugin are added after HTML end tag"
I just installed the oEmbed plugin (v1.3.4 on Craft 3.5.5) and added a oEmbed field to an entry type. When editing an entry, I noticed that the control panel resources, i.e. the JavaScript and CSS, are outside the HTML document:

[code]

I am not sure if this is a bug in the plugin; I haven't looked that far into the code. The first oEmbed item I tried to load (<https://purl.stanford.edu/fw090jw34

[2020-08-24 22:16] reganlawton commented on #52
This might be an issue with the JS loader I’m happy to take a PR if you solve the issues but I’m currently out of action till minimum the weekend due to Retinal Detachment surgery on my eye and limited to a particular head position for the next week

[2020-08-25 07:02] bencomp commented on #52
Hi @reganlawton, thanks for the quick response. I'm pretty new to Craft, oEmbed and the plugin system, so I wouldn't know where to start. I'm not even sure how much this affects working with the plugin. So I can wait and return to the issue later.

I hope your surgery and recovery go well!

[2020-09-01 23:33] reganlawton commented on #52
I'm back at the computer I'll look into this to fix but in the short time  this shouldn't be a major issue as modern broswers should figure it out but a fix should be added.

[2020-09-01 23:35] reganlawton commented on #51
How would this work? are we talking url or site title? I'm happy to look into is I can get some guideline around the end goal. Maybe show an example or your exxpected output and I can look into getting it in

[2020-09-05 18:26] jpwdesigns opened #53 "GDPR compliance youtube-nocookie breaks rel=0"
When the youtube embed happens and the URL is changed to youtube-nocookie.com it does not apply the rel=0 parameter.

[2020-09-05 18:29] jpwdesigns commented on #53
Template code:
[code]

Rendered html:
[code]

Expected html:
[code]

[2020-09-06 23:29] reganlawton commented on #53
Hmm thats weird and this DOES work when not GDPR turned on?

[2020-09-08 09:25] hongc-cc opened #54 "Embed Instagram with params `hidecaption` didnt work"
The instagram `hidecaption` params didnt work
`{{ block.embed.render({ parms:{ hidecaption: true } })  }}`

Temporary fix:
`{{ block.embed.render() | replace({'data-instgrm-captioned': ''}) | raw }}`

any idea on why it isnt working?

[2020-09-08 09:39] chanwhab opened #55 "Instagram Endpoint changing on 24Oct - What's the influence"
As instagram is sunsetting the old endpoint API in 24 Oct.
Is there any plan to migrate to new endpoint?
https://developers.facebook.com/docs/instagram/oembed#oembed
https://oembed.com/
see instagram section

[2020-09-08 12:38] reganlawton commented on #55
This will be something handled in the underlying embed/embed package we use.

[2020-09-08 14:37] chanwhab commented on #55
yes thanks. Just want to make sure this is taken care of.
It might be affecting lots of users

[2020-09-09 00:10] jpwdesigns commented on #53
I'm not sure. I have yet to see it work correctly

[2020-09-09 00:53] reganlawton commented on #55
Agreed I'll have to test this out and check the package

[2020-09-09 00:53] reganlawton commented on #54
I'll have to look into this

[2020-09-10 01:21] chanwhab opened #56 "[FR] Add an option to completely disable `Preview` mode, or `Preview` on demand"
Not urgent at all.

Our client usually have 10-20 instagram embeds in one single entry.
The current `preview` might initiate a very long load time ( i have seen 28s) when loading into the entry editing page.
Plus, if some instagram embeds failes (say, wrong link, removed post), it's even longer.

Cache could help, but i think another option is just to not preview at all.
User might only want to ch

[2020-09-10 01:46] reganlawton commented on #56
So "Previews hidden by default" not enuf? THe feature can be sorted if not.

[2020-09-10 23:07] chanwhab commented on #56
I think even it is hidden, it still renders?

[2020-09-10 23:08] chanwhab commented on #56
Even it is hidden, it still renders.
![Screenshot 2020-09-11 at 7 07 52 AM](https://user-images.githubusercontent.com/7658690/92821365-90cf4680-f3fd-11ea-8206-144107d92f1b.png)

[2020-09-14 06:32] reganlawton commented on #56
No issues I'll look into the change and have a setting to "Disable Preview"

[2020-09-15 07:24] chanwhab commented on #54
Any update?

seems like ` {{ block.embed.render() | replace({'data-instgrm-captioned': ''}) | raw }}` is not working great as it cause strange spacing in mobile safari.

[2020-09-25 18:52] TUSAB-web opened #57 "Add ability to pull just the embed URL or just the video id itself"
I have a page with lots of videos, and embedding all of them slows it to a crawl. I found this method to embed them without hurting performance:

https://css-tricks.com/lazy-load-embedded-youtube-videos/

This method requires me to be able to pull the embed URL or even just the video id (that seemingly random string unique to each YouTube video). I don't seem to be able to pull only that informati

[2020-09-27 12:59] arentsen opened #58 "Searching for oembed fields that contain a URL"
I would like to make a query in Craft CMS for oembed fields that contain a link and skip entries that don't. It does

I tried to add this to my query:

{% set videoNews = craft.entries
    .section('news')
    **.search('videoEmbed.media.url:*')**
    .orderBy('postDate desc')
    .one() %}

Even adding **.search('videoEmbed:*')** does not work. How to find embedded fields that are not empty?

[2020-09-27 16:18] iparr commented on #58
Untested, but have you tried `:notempty:` to search fields? - ala [this example.](https://craftcms.stackexchange.com/questions/452/return-entries-where-field-is-not-empty)

This is inefficient in most scenarios, but does the trick.

[2020-09-27 21:50] reganlawton commented on #58
I think @iparr is right as the field doesn't allow for querying as such. I think I might need to look at the storage method of the field abit as it storing JSON as TEXT, mostly cos of legacy, but I might be able to get the field to support JSON field type and then let us have the querying power.

[2020-09-28 07:36] arentsen commented on #58
Thanks, it does the trickMet vriendelijke groet,With kind regards,Matthias Arentsen27.09.2020, 18:18, "Ian" <notifications@github.com>:
Untested, but have you tried :notempty: to search fields? - ala this example.
This is inefficient in most scenarios, but does the trick.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-15 18:44] helleholmsen opened #59 "Is it possible to get a higher quality version of the image?"
{{ entry.oembed.media.image }} always gives me a small version of the image I'm trying to fetch - example: https://i.vimeocdn.com/video/938592587_295x166.jpg

I'm guessing this is because when I dump the element from vimeo the dimensions are always small, for example:
"width": 426
"height": 240

Is it possible to set the width and height to be hq before the element is rendered?

[2020-10-15 22:36] reganlawton commented on #59
@helleholmsen this should be followed up on the embed/embed package as that data comes from there. Im afraid I cant do anything here.

[2020-10-16 06:28] helleholmsen commented on #59
@reganlawton ok :)

[2020-10-16 06:28] #59 closed

[2020-10-16 15:21] tomkiss commented on #51
Sure thing @reganlawton ,

Here's an article on frames having title attributes:
https://dequeuniversity.com/rules/axe/4.0/frame-title?application=msftAI

For implementation, it would ideally be a simple options parameter, something like this:

[code]

Which could result in something like this:

[code]

[2020-10-16 19:29] reganlawton commented on #51
Have you tried adding the title to the params options? I'd need to rest but I'm pretty sure that might work.

[2020-10-16 20:24] tomkiss commented on #51
Sorry, no that does not work.

[2020-10-26 15:34] TUSAB-web commented on #57
I saw that the plugin Wordsmith can grab the video ID from a YouTube link... I will try and combine that with the output from your plugin and see if it works. I will report back on how it works.

[2020-10-28 00:13] reganlawton commented on #55
@chanwhab I believe this is all working still?

[2020-10-28 00:18] reganlawton commented on #54
It should be `{{ block.embed.render({ params:{ hidecaption: true } }) }}` it seems you had a typo unless that was only on Github.

[2020-10-28 00:23] #58 closed

[2020-10-28 00:58] reganlawton commented on #51
Give v1.3.6 a shot with the new attribute options.

[2020-10-28 09:13] tomkiss opened #61 "Relevant YouTube URL parameters are ignored"
[original issue rephrased]

When pasting in YouTube URL parameters, some are ignored and do not make their way to the embedded video markup.

[2020-10-28 09:16] tomkiss commented on #51
Hi there, thank you, this is great! Thanks so much for implementing. Do you have a beer buying button anywhere? 😃

Unfortunately, initially, I thought it wasn't working, but it appears I had an existing bug related to usage in matrix fields (sorry!), which I've [reported here](https://github.com/wrav/oembed/issues/61).

[2020-10-28 11:02] reganlawton commented on #51
Was simple fix I've just been insanely busy so thank you for sticking in there 😅￼

[2020-10-28 23:27] #51 closed

[2020-10-28 23:28] #44 closed

[2020-10-28 23:31] reganlawton commented on #61
SIlly question but do you have caching on? As it should work the exact same if so I think there might be an issue with the cache busting with the new attribute feature

[2020-10-29 06:20] tomkiss commented on #61
I'm pretty sure it's not caching - I've flushed the craft caches multiple times before posting, but this was also in devmode locally.

This this bug may predate the attributes functionality as I couldn't see the params rendering before with the matrix field usage.

[2020-10-29 06:23] reganlawton commented on #61
It should be in the settings but is there any additional Dump die type data you can do to help troubleshoot? It's abit strange as I've never seen this type of issue and it's running through the code so can you check if the code it right when the service returns it to the matrix? Trying to see if you have something stripping it afterwards.

[2020-10-29 06:28] tomkiss commented on #61
Hmmm, ok.

I'll test again later on a free craft install and report back.

[2020-10-29 06:31] reganlawton commented on #61
Yeah any additional information including plugins and such will greatly help and even dump and inside the plugin service to see that its setting the changes that way you can see where its failing and then I'll be able to update it much easier.

[2020-10-29 07:42] tomkiss commented on #61
Ok, I've done a bit of tinkering now, and found the problem!
It occurs when the (YouTube) URL has existing query strings in and it occurs across all videos (not just matrix fields as originally thought).

**Test template:**

[code]

**Test 1: URL with no query strings:**

_Input URL:_
`https://www.youtube.com/watch?v=9WfZuNceFDM`

_Output:_
`<iframe width="480" height="270" src="https://www.youtub

[2020-11-02 10:25] iparr commented on #10
Hey, I think this has regressed or alternatively I've misunderstood something.

I have invalid fields that I'd like to test for in Twig.

I'm using:
[code]
or `{{ block.embedId.valid }}` or `{% if craft.oembed.valid(block.embedId.valid) %}…` and both still result in errors.

So how is best to test for valid fields on the front-end?

[2020-11-10 12:26] lukasgeiter opened #62 "Preview doesn't work everywhere"
Thanks for your work! I'm running into an issue with the preview of embedded content...

The JavaScript and CSS responsible for the preview is only loaded on entry pages. However, due to how fields work in Craft the field can show up in various other places - such as assets, globals, categories, dashboard widgets etc.

Why did you change it so the resources are only loaded for pages under `/admin/

[2020-11-11 00:21] reganlawton commented on #62
This was changed due to an issue with JS errors on frontend for some users if the jquery wasn't used. I think two parts need to happen here. I think I need to refactor the jQuery out and secondly open the regex to additional areas of the admin panel

[2020-11-11 09:19] lukasgeiter commented on #62
That doesn't really make sense though because the `getIsCpRequest()` check already excludes the frontend. I dug through the old issues and found issue #12 which seems to be the motivation for the regex.

The original problem is about the `<script>` tag being included in a JSON result. Only including assets in certain control panel areas isn't really the best fix for that. The assets should be incl

[2020-11-16 22:52] bkmorse opened #64 "rel:0 not being applied to iframe url param"
I have an oEmbed field with a handle of: videoUrl

I pasted the youtube url for a video into the field: https://www.youtube.com/watch?v=BAtlRhAteY4

I then output the iframe using this snippet of code in my twig file:

{{ entry.videoUrl.render({ params: { rel: 0 } }) }}

I expect to see &rel=0 in the iframe markup, this is what I see when I inspect the page:
<iframe width="480" height="270" src="h

[2020-11-16 22:52] bkmorse opened #65 "Add embed url or video id as one of the variables"
In addition to these already available variables

entry.field.media.title
entry.field.media.description
entry.field.media.url
entry.field.media.type
entry.field.media.tags
entry.field.media.images
entry.field.media.image
entry.field.media.imageWidth
entry.field.media.imageHeight
entry.field.media.code
entry.field.media.width
entry.field.media.height
entry.field.media.aspectRatio
entry.field.media.

[2020-11-16 23:04] reganlawton commented on #65
I'd raise this on the `embed/embed` package this is where those fields come from

[2020-11-17 20:28] arentsen opened #66 "Not able to change Soundcloud embed size"
How can I embed a smaller Soundcloud iframe? I tried in Craft CMS

[code]
but it does not change the size of the widget. Soundcloud says it has different sizes for embedding and 300 is the smallest, I but prefer even a smaller iframe than 300.

Any input would really be appreciated

[2020-11-23 15:21] cinemamike opened #67 "Responsive vimeo player with oEmbed?"
Hello! I'm trying to work out how I can get a responsive player with oEmbed. I've been able to create an oEmbed field in craftcms, and bring it into my template with a width and height parameter... but I can't quite figure out how to make the player fit within a div (flex container) and grow/shrink when the browser window is moved.

Here's the code in my template:

<div class="videobox">
    {% se

[2020-11-23 15:45] iparr commented on #67
This isn't really an _oembed_ problem, but try to use CSS to set the width to 100% of a container. This will override whatever you set your embed to use.

Then you can ensure that container is always sized correctly - again using CSS. I always use 16:9 for videos and the responsive ratio trick mentioned here: https://engageinteractive.co.uk/blog/top-10-scss-mixins

[2020-11-23 20:00] TUSAB-web commented on #65
I wanted to mention one thing I did: I downloaded the wordsmith plugin which has a “youtubeId” parsing so you can do:
{{ entry.field.media.url | youtubeId }} to pull that part. My page loads a bit slow with this, but I don’t know if it’s the oEmbed plugin, the wordsmith plugin, or something else.....

[2020-11-24 02:36] reganlawton commented on #65
oEmbed uses `embed/embed` which fetches the data using a network request so that's why its slow this can be improved by using the "Caching" option in the plugin's settings. This should still work with wordsmith, in future their is an idea to make the plugin cache the last fetched / "on saved" snapshot of the object to help with speed and if the service website is down for some unknown reason.

[2020-11-24 02:40] reganlawton commented on #66
It might be Soundcloud that's need's to have it passed via `params` option. I believe I made it so it so `attributes` didn't override existing attributes to stop this like changing the url and such.

[2020-11-24 02:42] reganlawton commented on #67
@iparr Thanks again for helping out other users. Yes CSS is the right solution here as not every provider that uses the `oembed` protocol supports W/H sizing params

[2020-11-24 02:42] #67 closed

[2020-11-24 14:52] cinemamike commented on #67
I just wanted to say thanks for the tips! It turns out the problem I was having is that I had too many nested divs with too many styles (flexbox, position: relative, etc...) going on. Once I moved the video div out from under a few other divs my styles started working like normal.

I found this which helped a lot with my css styling: [https://stackoverflow.com/questions/49765190/how-to-embed-vimeo

[2020-11-24 20:27] TUSAB-web commented on #65
That’s very helpful information as I figure out when to use the plugin and when to just use a URL field - weigh performance vs the features I need in each case.  Thanks!

[2020-11-24 22:37] reganlawton commented on #65
No issues I'll close the issue for now but glad I could provide you the information you need.

[2020-11-24 22:37] #65 closed

[2020-11-24 22:38] reganlawton commented on #67
No problem glad to see the issue is resolved

[2020-11-30 17:32] loweoj commented on #48
Hey guys, I'm running into this 429 issue myself at the moment. I was about to open a new issue before I came across this old one. Are there any updates on the status of this? Did this ever get resolved?

Thanks!

[2020-12-01 01:54] reganlawton commented on #48
@loweoj This issue was due to the oembed provider blocking the request it normally was resolved by using the latest `embed/embed` and I believed it was resolved. Can I ask which version your using on oembed plugin and `embed/embed` package

[2020-12-01 08:56] loweoj commented on #48
@reganlawton I'm using wrav/oembed 1.3.6 and according to `composer show embed/embed` embed/embed 3.4.9

I'm still receiving an error trying to serialize anonymous class after enabling cache from OembedService.php@135
For example following an invalid url with cache enabled (192.168.0.14:3000 is not running my machine, but useful for this example):

Exception
Serialization of 'class@anonymous' is n

[2020-12-02 04:10] reganlawton commented on #48
What oembed service runs on 192.168.0.14:3000? Are you running a custom oembed service?

[2020-12-03 09:50] loweoj commented on #48
Yes I have a custom oembed service running on that IP locally during development. However that address has nothing to do with the issue I'm seeing, which was occurring in production on YouTube URLs only. Sorry for the confusion there!

I have been getting 429 errors from YouTube for too many requests. I hadn't realised there was caching option in the plugin, which I subsequently turned on. That's

[2020-12-03 23:49] reganlawton commented on #48
The issue would be that your enabling caching while your rate limited already. So its caching a rate limited response which makes this a harder situation to deal with apart from waiting till your not limited and then triggering caching.

[2020-12-17 16:12] arentsen commented on #66
both the params and attributes do not work. Even forcing CCS does not seem to work since the widget is rendered and overwrites everything.

[2020-12-21 16:03] terryupton commented on #57
@TUSAB-web did you find a way (not using wordsmith) to get the embed url as I want to lazy-load the iframe/embed as well.

[2020-12-21 16:50] TUSAB-web commented on #57
I ended up using Wordsmith - once to pull the YouTube ID and also to pull the stuff after the question mark in the URL in case the video starts at a specific timestamp. I actually ended up just making my field a regular URL field instead of using oEmbed because I realized I wasn’t using its functionality, as wordsmith was pulling out the video ID for me, and the custom code linked above was pullin

[2020-12-21 21:38] mattrothenberg opened #68 "Twitter Embeds Broken"
I noticed on my site that all of my Twitter embeds stopped working when adding embeds to entries. No matter how I format the Twitter URL, the server throws a 500 when trying to preview the entry (and hence when rendering the entry on the front-end)

Could this be related to https://github.com/oscarotero/Embed/issues/421?

I'm on version 1.3.4

[2020-12-22 04:58] reganlawton commented on #68
If its a local 500 eror can you provide some logs to help me pinpiint the possible issue?

[2020-12-22 13:15] mattrothenberg commented on #68
@reganlawton Sorry, forgot to add the stack trace 👇

[code]

[2020-12-22 22:20] reganlawton commented on #68
Can I also get the twitter URL so I can test and debug please and I think that'll be enough to debug the issue for now.

[2020-12-22 22:22] reganlawton commented on #68
So can I get the version of craft and oembed your using and if you can get the version or embed/embed too that's be great I'll try match the exact versions

[2020-12-22 22:24] mattrothenberg commented on #68
@reganlawton Sure thing. FWIW, it sounds eerily similar to that upstream issue I linked to in my PR.

Craft: 3.3.20.1
Embed: 3.4.8

[2021-01-19 19:32] terryupton opened #69 "Certain parts of the embed plugin not working on development and production server, but ok locally depending on the YouTube url format"
Firstly, I appreciate this might not be something you can assist with and might not be a problem with the plugin per-say, however, I am a bit at a loss as to where else to go from here. So I am hoping if you or anyone might be able to shed some light, help me resolve this issue?
I need some fresh eyes/mind...

So previously (perhaps a week ago) everything was working fine locally, staging and prod

[2021-01-19 21:24] reganlawton commented on #69
I'll look into this and see what I can dig up. I know there's been weird things happening with oembed protocol all the time it's normally just troubleshooting till I find it.

Lots of information to digest but from my skim over it lots quite detailed and should help my debugging so thanks that's quite helpful.

[2021-01-19 21:34] terryupton commented on #69
Thanks @reganlawton I think having spent a bit longer, but yet to prove,  there may be two factors at play here. One being the URL format and the other possibly being rate limits.

I will do some further checks and tests myself tomorrow and I will follow up with any more information I can share.

Thanks again.

[2021-01-19 21:36] reganlawton commented on #69
Rate limiting is a know pain with this protocol but let's see if I can help out

[2021-01-20 09:56] terryupton commented on #69
Hey @reganlawton I have done some further trials and testing this morning and I am not sure if this helps shed any more light, but here are my findings.

So yesterday after I posted the original thread, I changed one of the urls to this format `https://youtube.com/watch/sz5JDPkG0zI` (notice the /watch/). Upon doing this, all the data parameters started to populate and work as expected, the thumbna

[2021-01-20 10:01] reganlawton commented on #69
Find my details for Discord on my GitHub Profile but I believe this is a réponse header on your side "X-Frame-Options" is used to stop iframe s and such loading on your page and prevent clickjacking. You might need to check your web server configuration as it seems Valet isn't using the same websrver it's not a header sent from CraftCMS so I take it will be a config setting on your system. NGINX o

[2021-01-21 14:44] tomkiss commented on #69
Hmm, just launching a website today and noticing this issue too. Same issue where local is fine, public staging is also fine (this is confusing to me) but production is not OK. Only just investigating now, the website is on servd.host so its not quite the same access to adjust things, but it's NGINX for sure.

[2021-01-21 14:53] tomkiss commented on #69
This person seems to be claiming that the /embed endpoint needs to be used:
https://stackoverflow.com/questions/25661182/embed-youtube-video-refused-to-display-in-a-frame-because-it-set-x-frame-opti

This then ensures that the youtube URL does not contain the `'X-Frame-Options'` with `'SAMEORIGIN'` value.

So, the outputted URL which is currently:

[code]
Should be:

[code]

This certainly appears

[2021-01-21 15:37] tomkiss commented on #69
Well, FWIW here's my temporary fix.

Macros (brazenly and shamelessly stolen and tweaked from [here](https://supergeekery.com/blog/extracting-a-youtube-id-from-a-url-with-twig)):

[code]

And then in my templates:

[code]

[2021-01-21 18:06] reganlawton commented on #69
Great temp fix in @terryupton case we jumped on Discord And his issue is that his being rate limited from YouTube servers. It's seems that they might be getting very aggressive with their rate limiting but I do recommend using caching for production sites due to the rate limiting issue.

[2021-01-22 09:53] tomkiss commented on #69
I've now gone down the hole enough to work out the rate limit issue. My rushed fix didn't work for too long, as I didn't have caching on, and subsequent entry queries started to not return the URL, so it eventually failed. I've deleted my post above incase it helps, then fails to help, anyone else, heh.

My logs, incidentally were:

[code]

So yeah, too many requests, which explains all the differ

[2021-01-22 10:14] tomkiss commented on #48
Hmmm, yes I'm seeing this `Next Exception: Serialization of 'class@anonymous' is not allowed in /var/www/html/vendor/yiisoft/yii2/caching/Cache.php:249` error as well.

When caching on the oembed plugin is off, the page loads and the video wont display (due to 429 response).
When caching on the oembed plugin is on, the page returns a 500 error.

[2021-01-27 16:00] terryupton commented on #69
Just an update on my side. Everything was down to rate limiting by YouTube which I think was a result of a previously installed plugin, that I replaced for this. After managing to stop further requests, after a few days it all settled down and I was able to enable the cache and please to confirm all formats of the YouTube are working again.

I had to get the client in the interim to change all for

[2021-01-27 16:00] #69 closed

[2021-03-02 10:56] joshuabaker opened #70 "Support GraphQL fragment by registering an interface"
At present, it doesn’t appear possible to share fields via a GraphQL interface fragment (like `OembedInterface` below). Would this be a challenge/breaking change to support?

[code]

[2021-03-03 02:06] reganlawton commented on #70
@joshuabaker I would have to look into the change as the GraphQL support was added original as a nice to have and being a free plugin I didn't want to assign insane amount of effort too it so there is plenty of growth in the GraphQL feature.

[2021-03-03 11:43] joshuabaker commented on #70
Thanks, @reganlawton. Totally understand! Really appreciate that there’s support as is.

[2021-03-17 09:35] iparr commented on #10
I would like this re-opened if possible @reganlawton

I'm still not sure how to test for embeds that are invalid.

For example, when a URL like this `https://thesludgelord.bandcamp.com/album/metal` is rendered invalid because an owner removes it, then my website breaks with a `Caused by: Embed\Exceptions\InvalidUrlException` error.

How is best to combat this?

[2021-03-17 09:37] reganlawton commented on #10
I'll have to look into this I've been smashed lately when investor deadlines but have a few tweaks needing to be done to the application

[2021-04-06 08:57] migswd opened #71 "Youtube preview does not work"
It was working before but the youtube video preview does not work for some time now.
![CleanShot 2021-04-06 at 10 43 32@2x](https://user-images.githubusercontent.com/3531623/113685755-dcfa1500-96c6-11eb-863e-3a0bb6cbd28c.jpg)

[2021-04-06 12:17] juban commented on #71
I can confirm that it was working before but due to some YouTube policy change, there's a cross domain issue now.

@migswd A quick workaround is to update the `embed/embed` dependency to 3.4.15 or greater (which fix the issue) in your composer.json file by adding `"embed/embed": "^3"` in the `require` section.

[2021-04-06 13:55] petehjfd commented on #71
Updating embed/embed to 3.4.15 fixed the issue for me, thanks @juban

[2021-04-06 18:48] laurabennett commented on #50
Having this problem with v1.3.6, I've done a composer update and checked embed/embed dependency.

[2021-04-06 19:25] laurabennett commented on #50
If I try to turn on caching I get
Serialization of 'class@anonymous' is not allowed.

Is the rate limit based on how many times the API is hit with the code from this plugin? Does that mean as you get more users this will happen more frequently? I have used Embedded Assets by spicy web for other sites but I really liked the admin video preview that comes with this.

[2021-04-07 07:11] thunder87 commented on #71
It helped with the preview (adding 3.4.15 to required), but i'm still having issues displaying the videos on the page as **www.youtube-nocookie.com/watch?v=** that is not working.

[2021-04-07 07:21] juban commented on #71
@thunder87 This is maybe related to another issue (cache or integration related maybe). On my side, with embed/embed 3.4.15 and the "Enable GDPR" plugin setting enabled, both preview and frontend iframe are showing as they should from the no-cookie domain.

[2021-04-07 13:33] arentsen commented on #71
I have the same issue and the proposed solutions do not work. Somehow the link Oembed pulls in keeps turning up like `https://consent.youtube.com/ml?continue=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D2QFrnI0BX4Y%26feature%3Dyoutu.be&gl=IE&hl=en-GB&pc=yt&uxe=23983172&src=1` even with the GDPR function turned on and updating embed/embed to 3.4.15.

The links our authors add are not always the same

[2021-04-07 15:05] timprint commented on #71
This worked for me. Thanks @juban

[2021-04-09 15:58] arentsen commented on #71
In my local development the videos display, even when the preview says `www.youtube-nocookie.com is blocked` if I use this format: https://youtu.be/2QFrnI0BX4Y. The format https://youtube.com/embed/2QFrnI0BX4Y does not work. Somehow the Oembed field changes the URL, so if I display it in the template, it changes it to a `https://consent.youtube.com/ml?` format... Very annoying

[2021-04-15 09:58] mijewe commented on #71
Upgraded "embed/embed" also worked for me, but I'll put my exact process here if it helps someone.

The `embed/embed` dependency in vendor/wrav/oembed was already ^3, so I
1. deleted my composer.lock and vendors folder
2. did a fresh composer install (`composer i`)
3. verified that this has updated embed/embed by looking at the git diff
4. deployed
5. cleared the Craft caches (I did all of them, b

[2021-04-16 07:59] EstherDevs opened #72 "When embedding a pinterest URL the language of the pinterest interface is in Spanish"
When I embed a pinterest link like this one for example:
https://nl.pinterest.com/pin/828732768903490501/

The interface button from pinterest and the "this pin is from" text displays in Spanish rather than Dutch.
My craft, computer and the URL are all set to use Dutch language so it's unclear to me why it displays this way.

I've attached a screenshot of the output on my page when using the above

[2021-04-16 09:58] terryupton commented on #71
I have also tried the above but without success. I believe this is back to the rate limit issue I had seen previously.
https://github.com/wrav/oembed/issues/69

I have cached enabled on the live site and the videos work on the front-end but the previews in the back-end do not work.
When I sync the live database over to the staging server (on dev. subdomain) the videos neither work on the front-end

[2021-04-16 11:46] bendesilva opened #73 "When caching is enabled, YouTube embeds do not include additional parameters in the returned iFrame"
Untested on other providers, however it appears that when I have caching enabled, the iFrame does not include any of the additional parameters defined in templates (for context I'm trying to add the `enablejsapi` parameter). I tried flushing and clearing all caches, creating a new entry with a video that had not been embedded on the website before and in all instances the embed didn't include the

[2021-04-20 15:00] joshuabaker opened #74 "GraphQL error: String cannot represent value"
After updating, I’m consistently getting an error with any embed: “String cannot represent value”

[code]

Using Craft 3.6.12.

@reganlawton Do you have any idea what might be causing that?

[2021-04-21 11:59] reganlawton commented on #74
I'll have to troubleshoot this in the morning but that's very weird did you tell and empty the field and renter that field?

[2021-04-21 12:04] joshuabaker commented on #74
Thank you! 🙏🏻

I’ve tried creating a new block too with the same result. I’ll share any further context if I find anything.

[2021-04-26 14:47] robzor commented on #71
Upgrading to 3.4.15 fixed the issue on the back end but not the front end. I'm currently doing this as a temporary workaround:

`{%- if video.media.providerName == 'YouTube' -%}
	 	{#- Split on the v to get the video ID -#}
		{%- if 'consent' in video.media.url -%}
			{#-  If new YouTube EU consent redirect exists, split the string to grab the video ID using this code -#}
			{%- set videoCode = vi

[2021-04-27 00:54] reganlawton commented on #71
THis is strange the `X-Frame-Options` issue would because its not getting the `embed` URL most likely but I'm unable to replicate this issue from my end.

[2021-04-27 11:12] robzor commented on #71
Hi @reganlawton , I think to replicate this you might need to use a VPN and set your location to somewhere within the EU/UK as this issue is related to some weird cookie/GDPR redirect thing that YouTube have implemented. See https://github.com/oscarotero/Embed/issues/441 for some more info

[2021-04-28 00:15] reganlawton commented on #71
@robzor I did consider that 🤔 I might have to ask around my friends group for someone with a VPN I stopped paying for mine.

[2021-04-28 00:19] reganlawton commented on #71
Could you not try using this PR with composer (https://github.com/oscarotero/Embed/pull/442) and use composer repo option to override the location of `embed/embed`. Something like this https://stackoverflow.com/questions/55294339/composer-require-a-specific-pull-request

[2021-05-21 06:18] denisyilmaz commented on #74
I have the same issue. I tried reentering the videos to a new block (inside NEO) and it then worked again for one site, but when switching to the other site the error appears again.

[code]

[2021-05-25 10:51] joshuabaker commented on #74
So the GraphQL error here suggests that the JSON isn’t getting decoded somehow. I’ve witnessed JSON data getting doubly encoded before in Craft and wonder if that might be what’s happening here (i.e. after decoding the JSON, it’s actually still a string).

@denisyilmaz Do you still have an example where this *doesn’t* work? If so, you might try putting `Json::decodeIfJson` call after [this line](h

[2021-05-27 12:36] denisyilmaz commented on #74
yes, for example this project has this error currently live: https://www.basics.berlin/de/styling/artists/julius-forgo/projekt/bmw-vision-i-next

when switchtig to english (top right) the same query with different lang param is send to the server (but there the translated oembed field returns the error above).

The error is reproducable:
1. add a new neo block with the oembed field in it
2. add a

[2021-05-27 12:54] denisyilmaz commented on #74
@joshuabaker i modified the line as you suggested but it still did not work:

[code]

[2021-05-27 13:10] denisyilmaz commented on #74
acutally, i tried differend options. this one worked once for both languages, but only if applied after the entry was saved and before the query was called the first time:

[code]
Otherswise the backend fails on save with error, which is the expected behavior:
[code]
so it seems somewhere in this the value of `$decValue['url']` gets saved back to the server.

because when I test to return only the

[2021-05-27 15:44] joshuabaker commented on #74
@denisyilmaz That’s a good find. I’m seeing the same nested object in the `url` attribute on another site.

![image](https://user-images.githubusercontent.com/160484/119856067-574a5700-bf0a-11eb-8895-24b05ba0063a.png)

[2021-05-27 17:37] devinpitcher commented on #74
To add some additional data, I am running into this as well.

The error is thrown when using a YouTube URL in this format:
`https://youtu.be/9wfbEC_es94`

Updating to the format below did **not** throw the error:
`https://youtube.com/watch?v=9wfbEC_es94`

[2021-05-27 17:40] joshuabaker commented on #74
@devinpitcher That sounds unrelated, to be honest. Are you finding that consistently with short YouTube URLs? Might be worth opening a separate issue.

[2021-05-27 17:44] devinpitcher commented on #74
Yeah, I added four entries with short URLs, and one with a regular URL, and all the short URLs errored out but the standard URL was fine.

[2021-05-27 18:19] devinpitcher commented on #74
I get the previews, but I get the error when attempting to query via GraphQL.

[2021-06-04 13:12] andrewhawkes commented on #74
I'm currently returning `code` on the field in a GraphQL query but it's no longer returning for new Vimeo videos.
Could this be related?

[2021-06-06 15:05] andrewhawkes commented on #74
I've had a bit of a dip into the DB and seeing how the field data is saved. It looks like something has changed recently which is causing the data to be saved in a different way:

**Working**

```{"url":"https://vimeo.com/492107391","oembed":null}```

**Not working**
```{"url":{"url":{"url":"https://vimeo.com/528336142","oembed":null},"oembed":null},"oembed":null}```

[2021-06-06 22:39] reganlawton commented on #74
Yeah there seems to be a legacy issue thats changing it to to repeat itself inside itself. This why have been an issue from Craft 1 or 2 days BUT I think @joshuabaker your PR #75 fixes this?

[2021-06-10 16:36] bfjare opened #76 "Unsupported operand types: string + int"
<img width="1174" alt="Screen Shot 2021-06-10 at 10 37 19 AM" src="https://user-images.githubusercontent.com/11744681/121563639-d6925d00-c9d7-11eb-9750-4712712dce2a.png">

Getting this error when enabling cache in the control panel.

[2021-06-15 04:16] reganlawton commented on #74
I'll update this with the looping that @denisyilmaz considered

[2021-06-15 06:03] reganlawton commented on #76
@bfjare Are you able to try the v1.3.7 update and if that doesn't help can you give me so more troubleshooting.

Did it work once you disabled cache and then enable it again after testing the URL / page?
Did you have a URL I might be able to test?
Do you have the GraphQL query I might be able to test?

[2021-06-15 06:04] reganlawton commented on #74
I tagged v1.3.7 with  some testing vectors that I could think up and if you are able to change I'll get it a couple of days till I close this issue.

[2021-06-15 06:07] reganlawton commented on #73
@bendesilva sorry for the delay been out due to health issues. I can confirm that the URL is the only key the cache uses and I'll have to hash the options to get this fixed.

[2021-06-15 06:41] sanderpotjer opened #77 "Version 1.3.7: Class 'wrav\oembed\models\Json' not found"
[code]

So missing namespace `use craft\helpers\Json;`

[2021-06-15 06:46] reganlawton commented on #77
@sanderpotjer THis is resolved in v1.3.8 during to a namespacing issue

[2021-06-15 06:46] #77 closed

[2021-06-15 06:49] reganlawton commented on #73
You should be able to see the changes on v1.3.8

[2021-06-15 08:23] bendesilva commented on #73
Thanks @reganlawton, no need to apologise, thanks so much for this fix! Really appreciate your help.

[2021-06-15 11:56] michaelhue commented on #76
I've been running into this as well after updating to PHP 8. I'm on the plugin's latest version `1.3.8`.
The problem is line 135 in `OembedService`:

[code]

The third parameter should be an integer, as per `CacheInterface`:

   default [[defaultDuration]] value is used.

This is triggering an error in PHP8 since adding strings and integers is not supported anymore.

[2021-06-15 15:39] bfjare commented on #76
Confirming if I downgrade the server to PHP 7.4 the error goes away.

[2021-06-16 00:09] reganlawton commented on #76
Argh so its a PHP 8 issue I'll have to look into

[2021-06-16 00:42] reganlawton commented on #53
@jpwdesigns This is resolved in v1.3.9

[2021-06-16 00:42] #53 closed

[2021-06-16 00:42] #73 closed

[2021-06-16 00:43] reganlawton commented on #64
@bkmorse  This should be fixed in v1.3.9

[2021-06-16 00:43] #64 closed

[2021-06-16 00:45] reganlawton commented on #10
@iparr I have updated the handling a bit better if you want to take a look at this in the latest v1.3.9

[2021-06-16 08:26] michaelhue commented on #76
Well, yes and no. The underlying problem is the wrong usage of `Craft::$app->cache->set()`. The third argument is expected to be a duration in seconds after which the cache will expire. You are passing a duration period designator `P1H` instead.

You can see the problem in @bfjares first screenshot, the line highlighted in red. The duration (in your case a string) is added to the current `time()`

[2021-06-16 15:35] bfjare commented on #76
@michaelhue thanks for the help good sir!

[2021-06-16 15:59] adrienne opened #79 "After upgrade, nothing is saving or displaying properly"
Videos show in the control panel:
![image](https://user-images.githubusercontent.com/89705/122253278-dfc07580-ce80-11eb-8c1f-42c386b4c281.png)

 but on the front end i get an error if I try to render anything to do with the oEmbed field:
 `Key "media" does not exist as the array is empty.`

And the database doesn't seem to be saving anything except the actual URL anymore? (Formerly it would save J

[2021-06-17 04:20] adrienne commented on #79
Just tagging @reganlawton to make sure eyes get on this asap!

[2021-06-17 04:22] reganlawton commented on #79
@adrienne whats the `content` column showing? It was working for me on my testing for the multiple level bug. I'm just wondering if I missed anything.

[2021-06-17 04:26] adrienne commented on #79
I've got caching turned on and the column is showing just this:
`{"url":"https://www.youtube.com/watch?v=vAEHeJof1vI"}`

Still getting the error, and when i try dumping from Twig like this:
`{{ dump(entry.videoEmbed) }}`
it shows me
`array(0) { }`
so it's just … not getting any content somehow?

I can try a few other tests. It seems to be happening with every provider, so it's not something easy l

[2021-06-17 04:36] adrienne commented on #79
Okay, so, this turned out to be a user error that coincided with the upgrade. Turns out you can't add the block to the eager-loading array, or everything goes boom.

[2021-06-17 04:36] #79 closed

[2021-06-17 09:03] iparr commented on #10
Sorry, if I use it with the same example as above, I still get:
[code]

[2021-06-22 09:58] robzor opened #80 "Changelog: The current year is 2021 :D"
Firstly, thank you for the great plugin.

Secondly, your change log dates for the latest releases refer to 2020 ;)

[2021-06-22 10:58] reganlawton commented on #80
Well this is awkward... 😅

[2021-06-22 23:52] reganlawton commented on #66
@arentsen are you able to see the latest versions?

[2021-06-22 23:55] reganlawton commented on #61
@tomkiss is this still the issue in the newer versions?

[2021-06-23 08:24] arentsen commented on #66
Nothing gets rendered when I use any attributes or parameters so I just leave them empty for now. I don't have much time currently to do more testing. Thanks though for mentioning. This is how I discovered there was an update to the plugin. It seems some other things have changed since I had to change field.media.url to field.url everywhere in my templates :-) For the rest, everything works fine s

[2021-06-23 09:14] tomkiss commented on #61
Hi @reganlawton - OK so I've checked it all out and it seems to be... fine!

The `t` / `start` issue is somewhat confusing. `start` is used by the YouTube API, which is presumably what the Oembed format adheres to. But YouTube uses `t` when generating the [short] URLs (presumably for brevity).

Anyway, all seems to be working fine at the moment 😀

[2021-06-23 09:34] tomkiss commented on #61
OK, @reganlawton.

Apologies, I had to delete my previous reply because it's still morning and I hadn't quite gotten my head back into the original problem. Yes the problem still exists, although I'm not sure if its bug or feature request.

**Test 3**

**Template:**

[code]

**Output:**

[code]

**Expected output:**

[code]

Although `controls` and `autoplay` can be successfully set in the templat

[2021-06-24 00:19] reganlawton commented on #61
@tomkiss I'll look into this and get some testing time sloted

[2021-06-24 00:23] reganlawton commented on #66
yeah I'm looking into ways to fix the 500 errors on broken URL's and I think there's an issue with the `attributes` param so I'll look into that more.

[2021-06-24 09:18] arentsen commented on #66
That would be great! There is another thing that is happening after the plugin update. When the Oembed field is not filled in, it still shows the message "Please check your URL." underneath the preview. This causes the query .field(':notempty:') to not work because it still finds the fields that are empty but show this message. It happens with all newly created entries it seems. Thanks!

[2021-07-08 19:11] RyanRoberts commented on #76
Would love a fix for this, unfortunatly I doubt I can help.

[2021-07-12 07:02] linehammer commented on #14
Since April 2018, Google made some changes to the  Autoplay Policy. You not only need to add the autoplay=1 as a query param, but also add allow='autoplay' as an iframe's attribute

So while [embed youtube](http://net-informations.com/q/mis/youtube.html) video, you will have to do something like this:

`<iframe src="https://www.youtube.com/embed/VIDEO_ID?autoplay=1" allow='autoplay'></iframe>`

[2021-07-13 19:48] #68 closed

[2021-07-18 09:53] bartrylant opened #81 "Serialization of 'class@anonymous' is not allowed"
I rely heavily on the oembed plugin for showing YouTube video's on a website. However, since yesterday, I suddenly get:

[code]

This seems to go back to

[code]

Any ideas on what the problem might be here? The url's are correct. It's happening on my live site only, not on the local site.

[2021-07-19 11:21] mijewe commented on #81
I'm having this issue too, and it's probably the same as https://github.com/wrav/oembed/issues/71 - have a look on there for workarounds

A [429 response](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429) is Too Many Requests, and implies that you're being rate limited AFAIK.

[2021-07-19 14:17] mijewe opened #82 "Cache does not work"
The key used to retrieve the cached item is not the same as the key used to set the item, so the cache doesn't work and the embed code is loaded from source every time.

[2021-07-19 14:45] mijewe commented on #81
Been looking more into this, and though the root cause is potentially still the #71 issue, this still shouldn't happen as IMO there should be some response validation before it's saved to the cache.

That way even if `Embed::create()` returns this class@anonymous thing, it will still not cause this problem.

Something like this would be my layman's approach
[code]

[2021-07-20 00:41] reganlawton commented on #81
I'll try assign sometime into this issue. Between recovery and going back to work fulltime been about gassed but I should be able to get some time.

[2021-07-20 00:57] #82 closed

[2021-07-20 19:58] gglnx commented on #81
The problem was that this plugins creates an anonymous if Embed has failed, but anonymous classes can not be cached. In my pull request #84 I created an fallback adapter which handles this case. The fallback adapter can be cached.

An alternativ would be to return nothing, if something has failed. But this would be breaking change.

[2021-07-20 20:01] gglnx commented on #76
I have fixed this too in my pull request #84.

[2021-07-21 01:11] #81 closed

[2021-07-21 01:22] #80 closed

[2021-07-21 01:22] #76 closed

[2021-07-21 01:24] #10 closed

[2021-07-21 01:24] #50 closed

[2021-07-21 01:25] #57 closed

[2021-07-21 01:26] #55 closed

[2021-07-21 01:27] reganlawton commented on #61
Is this resolved in the new versions?

[2021-07-21 01:27] #62 closed

[2021-07-21 08:46] tomkiss commented on #61
Thanks @reganlawton. No nothing seems to have changed.

Here's my test for your reference:

### Test 1: Does valid YouTube URL param get set?

In this example, the [YouTube URL parameters](https://developers.google.com/youtube/player_parameters) for `autoplay` and `controls` are set in the URL.

[code]

#### Output:

Both of the parameters are ignored in the output:

 - Rendered URL: `https://www.

[2021-07-21 09:19] reganlawton commented on #61
Hmm thats weird let me look some more

[2021-07-22 00:42] reganlawton commented on #61
@tomkiss That seems to be working? That's weird...

<img width="1211" alt="Screen Shot 2021-07-22 at 10 41 39 am" src="https://user-images.githubusercontent.com/2705875/126576631-a4574949-d943-49e9-8bbe-f240c87c2ac3.png">

[2021-07-22 07:39] tomkiss commented on #61
If you notice, the 'autoplay' and 'controls' URL params are not set in the iframe 'src' attribute.

(They are stripped out, despite being supported by YouTube).

Ideally, the plug-in would:
 1. Parse URL params against those supported (I linked to the documentation in my previous post)
 2. Remove out any that are not supported
 3. Apply any params defined at the template level and any resolve conf

[2021-07-22 10:14] reganlawton commented on #61
I used in my iamge above:

[code]
=================================================================

<img width="1208" alt="Screen Shot 2021-07-22 at 8 13 27 pm" src="https://user-images.githubusercontent.com/2705875/126623761-47ddbcf6-7dd5-45d0-9128-e9742b055a17.png">

and the image now shows:

[code]

This is all working as it should.

[2021-07-23 07:19] michaelhue opened #85 "Exception: Undefined property: FallbackAdapter::$height"
Since upgrading to the latest 1.3.11 version my client sometimes gets this error:

The twig code:

[code]

The full stack trace:

[code]

[2021-07-23 09:35] COLINJP-dev opened #86 "Need to check $url length before generate the iframe ?"
Since upgrading to the latest 1.3.11 version.

I think you need to check the $url length because we have a with $url with value "/?" that cause a iframe of frontend homepage in preview if the field is empty.

[2021-07-24 02:54] reganlawton commented on #86
Can you explain this able more?

[2021-07-24 07:50] COLINJP-dev commented on #86
Hi,

This code added in 1.3.9
[code]

[2021-07-26 09:51] arentsen opened #87 "Rendering video no longer works"
I used to be able to show this video using the plugin: https://www.ardmediathek.de/video/show-und-musik/dein-festival-zeit-fuer-kultur/ndr-fernsehen/Y3JpZDovL25kci5kZS83OWNmNzE2NS1kZjdlLTRiZTgtOWNkYi1mN2U2MDQxNjAzMWQ/

But now the plugin says "Please check your URL."

[2021-07-27 08:58] kevinmu17 opened #88 "When removing the URL the site itself gets loaded as preview and also renders on the front end"
When adding a youtube url to an entry hit save. Reopen the entry and remove the URL and hit save. Now open the entry again, you will now see the site itself is getting loaded and somehow this is happening on the front end with `block.video.render()` too.

[2021-07-27 10:49] kevinmu17 commented on #88
https://github.com/wrav/oembed/blob/3d011b4b2d0fd5152dceedc448ef04da752f3e60/src/services/OembedService.php#L87 i think the issue lies here, when inspecting i notice the ? character to be present. So "/?" is the iframe source

[2021-08-03 09:54] fantasticmachine commented on #88
Also having this issue

[2021-08-04 05:54] reganlawton commented on #88
@kevinmu17 @fantasticmachine are you able to prevent the example of the URL your trying to use?

[2021-08-04 10:38] fantasticmachine commented on #88
@reganlawton  I temporarily resolved the problem by rolling back to 1.3.6

[2021-08-04 12:08] kevinmu17 commented on #88
@reganlawton it is with any youtube url.

my temp fix for this is in twig:
[code]

[2021-08-04 23:26] reganlawton commented on #88
Glad you have a temp fix but to solve the issue can you confirm that you have to:

1. Set a YT url
2. Save entry with the YT url
3. Clear the YT url to "" aka blank
4. Save entry again

From there you have a '/' in the DB?

[2021-08-05 00:26] reganlawton commented on #88
@kevinmu17 @fantasticmachine

This seemed to be an issue with the FallbackAdapter I have updated to not processing blank URLs. Can you try out v1.3.12

[2021-08-05 06:27] watarutmnh opened #89 "[Question] how Instagram oEmbed works?"
Instagram url is not working on preview and not displayed at site front.
It errors "Please check your URL." at CP.
Twitter and Youtube, Vimeo work well but Instagram and Facebook are not.
How I can get it work properly?

PHP version: 7.4.21
Craft: 3.6.17
oEmbed: 1.3.11

[2021-08-05 07:04] #86 closed

[2021-08-05 07:04] COLINJP-dev commented on #86
Fixed on 1.3.12

[2021-08-05 07:43] COLINJP-dev opened #90 "Verifiy empty url in src/services/OembedService.php"
Hi,
Thanks for release 1.3.12

I think you should verify url here too
https://github.com/wrav/oembed/blob/40e5aaaf0a96432203ac089962daecbef58b67ea/src/services/OembedService.php#L40-L44

by adding something like before the try
[code]

[2021-08-05 08:36] kevinmu17 commented on #88
v1.3.12 made things worse, when having an empty input it now saves `{"url":null}` into the database. So the check `block.video|length` now returns an 1.

This was the case yes, but now the above is happening. It is also giving back a new error with this line block.video.media.url
_Impossible to access an attribute ("url") on a null variable._

It is still loading the site itself as a preview in th

[2021-08-05 15:12] fantasticmachine commented on #88
This fix doesn't seem to work for me at all.
An empty url seems to save {"url":null} into the database as stated by @kevinmu17

[2021-08-06 22:38] adrienne opened #91 "Facebook videos have just stopped working entirely"
They're also doing some sort of weird thing where you can't use the regular oEmbed functionality in your app after September 7, btw. So I'm not sure if there's a way to do some kind of proxying or fallback to a plain iFrame, but i think some kind of fallback is vitally important.

[2021-08-12 01:22] adrienne opened #92 "Having all kinds of issues with 1.3.12"
Blank fields show our main website in the Preview, which is confusing the heck out of everyone! (The changelog seems to indicate that you fixed that, except it isn't fixed for us.)

Also, a lot of sites don't seem to work at all anymore, including (as mentioned in an earlier issue) Facebook.

[2021-08-12 01:23] adrienne commented on #88
@reganlawton - yeah, still having this issue on my end too.

[2021-08-12 01:24] adrienne commented on #92
Never mind, still being tracked in a different issue. Disregard, i'm closing this as duplicate and thinking i should've checked better!

[2021-08-12 01:24] #92 closed

[2021-08-12 01:24] adrienne commented on #91
@reganlawton just fyi

[2021-08-12 01:35] reganlawton commented on #92
No problem I'm just glad its been resolved 😊

[2021-08-12 01:36] reganlawton commented on #91
I'm looking into fallback updates so I'm hope it wont be too long

[2021-08-12 04:52] adrienne opened #93 "Also, somehow the oEmbed plugin is breaking Live Preview"
but _only_ on future/disabled entries, not on current entries. I'm going to try to nail this down better but I wanted to put at least a kind of "placeholder" bug here, @reganlawton.

[2021-08-12 04:56] adrienne commented on #93
...never mind, it's not the plugin. lolsob.

[2021-08-12 04:56] #93 closed

[2021-08-12 19:02] OneMohrTime commented on #88
I'm having this issue currently as well.

![Screen Shot 2021-08-12 at 15 02 11](https://user-images.githubusercontent.com/11075805/129253708-e2feec69-da24-413a-8366-4b4fa1373dac.png)

[2021-08-16 16:33] adrienne commented on #91
@reganlawton - yeah, this is a bigger issue with Facebook videos, it turns out; i've just written some stuff that routes "around" the plugin if the URL is a facebook URL. (ugh.)

[2021-08-18 06:48] ThinkGraphical opened #94 ""Please check your URL" but is still a valid field when saving entry"
When you for ex. fill in a private IG url in the embed field, there's a "Please check your URL" warning.
But when you click save, the field is accepted as valid (not throwing an error preventing the entry to be saved).

This means the user is unaware that there's something wrong. And possibly breaking stuff in the front, GraphQl, ...

Can we invalidate the field? Or is there a specific reason why

[2021-08-23 00:35] adrienne commented on #88
Any word on this, @reganlawton ?

[2021-08-25 18:19] adrienne opened #95 "I think you're going to have to upgrade to oembed 4 soon"
@reganlawton - fyi. Other addons are starting to require it, and it's getting to be a dependency tree mess. :(

[2021-09-29 15:39] samuelbirch commented on #88
updating the FallbackAdapter: getCode function to this solves the preview issue.

`public function getCode()
    {
        if (!$this->url) {
            return Utils::iframe($this->url);
        }

        return null;
    }`

@reganlawton any chance of getting this added?

[2021-09-30 20:10] adrienne commented on #88
@samuelbirch i've found @reganlawton very responsive to pull requests so the best bet might be to just make one.

[2021-10-03 23:21] reganlawton commented on #88
That's been updated to master branch. Some more testing by the thread would be great then I'll tag the `compose.json` file with a version tag.

FYI I saw everyone know BUT you can use `dev-master` to try the branch.

@adrienne your right PR get things moving faster as I'm a Tech Lead for a startup my time is random and changes depending on features and investor deadlines 😅 That said I'm normally u

[2021-10-04 09:29] kevinmu17 commented on #88
Hmm, i can't get the new merge to work. I removed oEmbed with `composer remove` and re-required it, but the merged code in the fallbackadapter isn't there. Do i have to add something specific to my composer file for this to work?

[2021-10-04 22:44] reganlawton commented on #88
I normally use `dev-master` as the version and update `composer update wrav/oembed` I only just woke and about to go into a long meeting but will see what I can do about testing it / tagging it

[2021-10-05 01:26] reganlawton commented on #95
@adrienne Just FYI I've started this mission it's a major version with breaking changes so I'll be working it and have a version ASAP.

[2021-10-05 05:01] reganlawton commented on #94
@ThinkGraphical  The issue for this is you send it to a backend API so not session is recorded to the URL, showing 404. When get the Fallback URL it uses the current user session in the iframe so it ISN'T 404'd, this isn't the embed but the fallback iframe of the original URL.

The question I'll need to look into iss the handling of the auth for instagram. I DO know that my upcoming refactor to EM

[2021-10-05 12:26] kisonay opened #98 "Video Privacy and oEmbed referer retrieval"
I would like to propose that when the plugin reaches out to retrieve the oembed information that it sets the appropriate domain so that it can retrieve all information.

Right now if videos have privacy settings only allowing it on a specific domain, that domain isn't used when retrieving the information and a lot of information is missing.

[2021-10-05 18:11] kisonay commented on #98
Doing some additional investigation, it appears the library oembed makes the call, I see the issue opened there:

https://github.com/oscarotero/Embed/issues/377

[2021-10-05 18:16] kisonay commented on #98
I see your plugin is using an version that is a year old 3.3 can we update this to the latest version to hopefully address the issue?

[2021-10-05 20:23] kisonay commented on #98
OK some additional information.

This block of code seems to append the referrer as expected.

[code]

but something else I am noticing is that the field.media is not returning everything it retrieves from the oembed api. Its missing thumbnail.

[2021-10-05 21:39] reganlawton commented on #98
I'm currently in the progress of updating the core package to v4 so this should be looked into the new version. Unless I get a PR for the current v3.

[2021-10-05 21:41] reganlawton commented on #98
Storey @kisonay i just noticed the PR 😂 I legit just woke up I should have had coffee first 😅

[2021-10-05 22:00] kisonay commented on #98
@reganlawton if your interested in including this in v3, I created this PR.

https://github.com/wrav/oembed/pull/99

If there are any changes required, let me know. (I'm no PHP expert.)

[2021-10-05 22:02] reganlawton commented on #98
Just in a meeting that started but once its over I'll check the plugin code and be sure its all right and push it out if its all G 👍

[2021-10-06 01:32] reganlawton commented on #98
@kisonay That's supporting the tag `dev-master` ATM seems to be working on my end lets see if we have any issues before tagging it. If your happy we can close?

[2021-10-06 01:52] kisonay commented on #98
@reganlawton :dev-master is working great on my end. I appreciate the fast turn around and am looking forward to the v4 update.

[2021-10-06 01:52] #98 closed

[2021-10-11 15:03] daveyjones opened #100 "YouTube URLs cause error: "Our systems have detected unusual traffic from your computer network""
Adding any YouTube URL results in the following error:

And here's a screenshot:

<img width="741" alt="Screen Shot 2021-10-11 at 7 54 36 AM" src="https://user-images.githubusercontent.com/2852617/136811945-3985cef3-69ea-4be3-ad8d-0695fc49a8b0.png">

[2021-12-05 19:18] andrewheins commented on #100
I just want to add a +1 here that our site suffered an outage today to this exact issue. There are two YouTube videos on our homepage, and it brought the whole page down.

Is there a mechanism to include a YouTube API key with this plugin such that we could leverage the expanded API limits, and instead of getting shut down by 429s, instead just wind up paying for the API use?

This is kind of a cr

[2021-12-06 19:47] adrienne commented on #91
@reganlawton - do you have a way to override the oembed/oembed FacebookAdapter from within wrav/oembed? Because if you do, i can submit a patch that I know fixes the problem.

[2021-12-06 22:21] sgtpenguin commented on #85
I'm also getting this error using graphql.

[2021-12-06 22:29] reganlawton commented on #91
The issue is it might be resolved with the `embed/embed `new version v4, which I started a branch with but due to 10-12 hr work days I've not finding time to upgrade and make it backward compatible. If you want to package the embed3 branch you might be able to resolve or maybe give me abit more information on the code change and  I might be able to help.

 The `embed4` is a write of the core packa

[2022-01-14 14:46] sgtpenguin commented on #85
Running into this again.  Looks like it happens when the field is left empty and fallback adaptor isn't initializing width and height.

Inside `src/adapters/FallbackAdapter.php`
set
[code]

inside `init()`

Seems to do the trick.

Here's the full edited file.  Let me know if  a PR is helpful.

[code]

[2022-02-18 20:31] AdamChlan commented on #36
Hi, I'm curious if this feature is trigged when someone visits the public facing website and private or invalid video is attempted to be loaded...or if it only triggers when someone is working in the control panel, and saves the video URL.

[2022-02-25 08:47] juban opened #101 "Unable to set a webpage as a valid source URL (fallback to iframe) since v1.3.11"
We're heavily using your excelent plugin for many projects.

Until version 1.3.10, it was possible to give any kind of url as a source for the Embed. In that case, the plugin was kindly switching to an iframe version.
There is an annoying regression since version 1.3.11 and the introduction of the FallbackAdapter. In that context, even if the source url is valid, it will result in a "Please check

[2022-03-04 16:07] jacobgraf opened #103 "Does this plugin still work?"
I just installed this plugin. The only thing I am trying to accomplish is to be able to add an Instagram URL and access all the oEmbed stuff via GraphQL. I created the field to test it out but when the preview tries to load, it says "check url". I think that's because I don't have an Instagram/FB token set up.

I tried to go to the FB dev console and create an app/token, but it's still not working

[2022-03-08 09:54] juban commented on #101
@reganlawton
Do you think it would be possible to push a tag for the fix soon? That would be really helpful to us. Thanks.

[2022-03-08 23:49] reganlawton commented on #101
@juban that has now got a release tag.

[2022-03-08 23:49] #101 closed

[2022-03-09 00:16] reganlawton commented on #103
You might be able to try the `dev-embed4` upgrade that's been being reviewed. It uses the new `embed/embed` package which might resolve your issue. I'm also abit confused with what whats going on your end I'm afraid

[2022-03-09 07:08] juban commented on #101
@reganlawton
No worry, thank you so much for the new release, it will save us a lot of trouble.

[2022-03-09 07:09] reganlawton commented on #101
@juban thanks for contributing

[2022-03-28 10:54] fantasticmachine opened #104 "Exception thrown with Caching turned on"
I think I'm seeing something related to [this issue](https://github.com/wrav/oembed/issues/101) but with version 1.3.15

With caching turned on in the plugin settings I am getting a "Please check you URL" error in the field and the following Exception on page:

`Serialization of 'DOMDocument' is not allowed`

[code]

However this is only happening on my production server. Both staging and local de

[2022-03-28 11:31] fantasticmachine commented on #104
UPDATE: This appears to be related to the PHP version.
Works OK on PHP 7.4 but throws the error on PHP 8.1

[2022-03-29 15:12] proimage opened #105 "YouTube embeds just stopped working recently"
Craft Pro 3.7.36 & oEmbed 1.3.15

Is this something that's likely because of the oEmbed v4 updates I've seen mentioned elsewhere?

[2022-03-30 02:33] reganlawton commented on #105
I created a branch use you test using [dev-embed4](https://packagist.org/packages/wrav/oembed#dev-embed4) I haven't been able to get anyone to test it / give feedback on it so it's been stale. It's what I really want moved too but need feedback and community testing

[2022-04-01 11:06] proimage commented on #105
Oddly enough, things began working again without any changes. Maybe it was a temporary glitch, or possibly a planned temporary outage of the deprecated way of doing oEmbeds? :-/ I dislike when problems resolve themselves without my knowing _why_.

[2022-04-01 11:06] #105 closed

[2022-04-05 08:29] jamiematrix opened #106 "Required field isn't verified on entry save"
Had a client break a page yesterday where they added the oEmbed field in but didn't populate the URL input. I tested on a local copy of the site and I'm able to save the entry even though the oEmbed field is marked as required.

In hindsight we probably should check the URL isn't empty before the field is rendered, but if it's marked as required surely the entry shouldn't save?

[2022-04-05 10:27] reganlawton commented on #106
Can you let me know the version of Craft your using? That's very weird and seems like something I wouldn't have missed and might be a be something that came up that I didn't notice or a change made. It'll you can add some more information I can see what I can do to help you out.

[2022-04-05 10:27] reganlawton commented on #106
Or if you've fou d the issue Is be happy to take a PR

[2022-04-05 10:31] jamiematrix commented on #106
Apologies, should have included versions...

Craft is on  3.7.37
Plugin is on 1.3.15

The field lives inside a Matrix field if that helps.

If I find anything that might be the cause I'll comment here.

[2022-04-05 10:47] reganlawton commented on #106
Oh matrix field! That legit helps so much more then your can believe.

[2022-04-05 10:48] reganlawton commented on #106
I'll take a look at the issue in the morning.

[2022-04-05 11:07] jamiematrix commented on #106
Morning? It's just gone mid-day here :)
As I have more waking hours I will try to have a dig to see if anything jumps out.

[2022-04-24 21:56] angieherrera opened #108 "Craft 4?"
Wondering if this plugin will get updated for Craft 4?

[2022-05-05 07:51] bartrylant commented on #108
Same question! I use this plugin on nearly every website I develop as it is a very easy to use all-in-one plugin. This is the only plugin now holding me from upgrading to Craft 4 at the moment.

[2022-05-05 15:28] iparr commented on #89
I am now suffering from this.

I have a feeling it has something to do with this: https://github.com/oscarotero/Embed/blob/v4.4.4/CHANGELOG.md#435---2021-10-10

[2022-05-05 23:33] reganlawton commented on #89
Have you tried the `dev-embed4` I added the update of the plugin to support the updated embed package which resolved a ton of issues but no one seems to be wanting to test that branch.

I have an update for Craft 4 coming up I'm gonna be porting everything to that branch so might be a good time to see if that resolves it.

[2022-05-05 23:38] reganlawton commented on #108
Yes I'm planning on a massive update with the `dev-embed4` composer tag. Thats been set to use the new embed/embed major version which no one has been testing which comes with a ton of fixes to oembed so I'm making time now that I've finished on a 3 month refactor.

I'm make sure that the Craft 4 go into that branch in future and start that shortly. This will give oembed a massive fresh update wit

[2022-05-06 09:08] iparr commented on #89
I'm happy to test!

I'm on Craft  3.7.41 and PHP 7.4. With a previously broken Instagram link I get:
`wrav\oembed\models\OembedModel::valid(): The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;Embed\Adapters\Instagram&quot; of the object you are trying to operate on was loaded _before_ unserialize() gets called or provi

[2022-05-17 06:17] reganlawton commented on #108
Please give `"wrav/oembed": "dev-feature/craft-v4"` a test everyone are I got a few PHP 8 typing issues but the plugin does quite abit so if you see anything let me know. I'm using a draft PR here: https://github.com/wrav/oembed/pull/109

[2022-05-17 07:00] reganlawton commented on #108
GraphQL will be needed to be tested abit more too

[2022-05-17 09:06] iparr commented on #103
I've had this problem and I consider (the first part at least) a dupe of this: #89

I don't believe you need a FB token or anything else like that. Just a URL.

[2022-05-19 17:10] wmdhosting commented on #103
have same issue . did you test dev-embed4
will try tomorow..

[2022-05-24 16:28] iparr commented on #103
I did and as you can see through #89 I did not have a good time.

Please disregard the above comment. I'm now aware that Instagram does require a token and I have absolutely no idea how to get that working. I don't know if the issue is with this plugin or with the Instagram service itself: now you have to use the Facebook developer interface it has become very convoluted.

I miss the good old days

[2022-05-24 16:33] wmdhosting commented on #103
OK. i tryed to. do ..but same..  for instagram and Facebook.
I think works with valid url.. still

All that works same in embeded assets...  juts different UI..
Instagram works just with url..

[2022-05-25 00:57] reganlawton commented on #103
@wmdhosting What CraftCMS version, EOMBED branch/version and PHP version

[2022-05-25 05:17] reganlawton commented on #108
Any movement on reviews?

[2022-05-25 05:59] wmdhosting commented on #103
PHP version | 7.4.29
oEmbed 1.3.15
Craft Pro 3.7.42

First i  installed  and tryed default version.
Twiter worked ok. but  FB and Instagram not.

Then i installed dev-embed4

Created ombed app

But stil did get  Invalid url. or somethign like that..
when pasted in field..

Twiter worked ok. both times..

[2022-05-25 07:52] reganlawton commented on #103
Can I request the URL used?

[2022-05-25 07:56] wmdhosting commented on #103
i tryed quite many.
but this page where app  ombed is created..
https://www.facebook.com/WMDhr/

[2022-05-25 13:31] justinholtweb commented on #108
I'll be able to do some local tests starting tomorrow (Thursday) on that release. I will post up right away on the results. Thanks for the quick resolution @reganlawton

[2022-05-25 13:35] justinholtweb commented on #108
Makes sense and agreed. I have a big batch of site maintenance to finish tomorrow and the goal was moving them up to Craft 4, several use this plugin so will be a perfect time to stress test. Should have some feedback for you by the mid-afternoon Eastern time.

[2022-05-26 07:27] reganlawton commented on #104
THis should be resolved in the 2.0.0 release soon

[2022-05-26 07:27] #104 closed

[2022-05-26 07:28] reganlawton commented on #95
How you looked into the https://github.com/wrav/oembed/pull/97 PR I haven't been able to get people to look into it more for review.

[2022-05-26 07:29] #61 closed

[2022-05-26 07:31] reganlawton commented on #48
I believe this was sorted in other releases

[2022-05-26 07:31] #48 closed

[2022-05-26 07:31] #52 closed

[2022-05-26 07:32] #87 closed

[2022-05-26 07:32] #66 closed

[2022-05-26 07:33] #90 closed

[2022-05-26 07:34] #100 closed, assigned to nobody

[2022-05-26 07:36] #74 closed

[2022-05-27 18:34] tomkiss commented on #61
Hey there,

Sorry. This is MONTHS later, isn't it?

So, in your example there, the original URL has `&autoplay=1`

But in the outputted URL, this has been removed, and it displays `&autoplay=0`.

However, in your example the template is "overriding" the query string parameter, which is a more subjective (Test 2 above).
So the more clear example is the fail in **Test 1** above.

If it didn't remove

[2022-06-02 09:45] bencroker commented on #108
Working great in my tests!!

[2022-06-06 08:21] maxstrebel commented on #108
Tested it. No problems encountered yet.

[2022-06-07 01:19] reganlawton commented on #108
v2.0.0 is out. Pray it goes well 😅

[2022-06-07 01:19] #108 closed

[2022-06-07 13:48] amphibian opened #111 "2.0.0 breaks under Craft 3.7.44 and PHP 7.4.3"
After updating to version 2.0.0 my site broke completely. After manually changing three successive bits of code by looking at the error logs, I just rolled back to 1.3.15.

Seems this versions was either tested only under Craft 4, or only under PHP 8.

[2022-06-07 14:18] TUSAB-web commented on #111
Same issue here. Thanks for the note - I will roll my version back.

[2022-06-07 14:58] holiday-jan commented on #111
Same issue here, is because https://github.com/wrav/oembed/blob/master/src/Oembed.php#L58 only works with PHP8 (for Craft4)

[2022-06-07 16:21] reganlawton commented on #111
I've deleted the 2.0.0 tag and resynced a new release version. Sorry for the issues everyone hopefully that should be updating only for Craft v4 sites now

[2022-06-08 13:19] tomkiss commented on #104
Hi @reganlawton -

I'm seeing this error on Craft 3 with version 2.0.0.

Is there any plan to fix on the 1.x release?

[2022-06-08 14:18] reganlawton commented on #104
It's not possible 2.0.0 is branch for Craft v4 the composer.json shouldn't never let Craft v3 install cos the plug-in extended classes require PHP 8.0.2 minimum via Craft v4. This is why I set a MAJOR release and not a MINOR  version. It's weird that your trying to install v2.0.0 if your using Craft v3 🤔

[2022-06-08 14:23] tomkiss commented on #104
Thanks @reganlawton

Oh no, I'm still on `1.3.15` and wasn't trying to install `2.X`, it's just that I just noticed this error on PHP 8 and Craft 3. I've probably had the bug a while but just not noticed it before, although thankfully it doesn't affect many pages. 😬

[2022-06-08 14:27] reganlawton commented on #104
I COULD let craft 3 would I believe but we'd need to be Craft v3 but with PHP 8 and I don't even know off the top of my head if that's supported haha. It's abit annoying cos it's only a few changes in the plug-in that actually impacted but PHP 8 😩 maybe one day I can look into issue but most people are looking at Craft v4 now so there's that to consider

[2022-06-08 14:30] tomkiss commented on #104
Ok sure thing 🙌

[2022-06-27 14:38] amphibian opened #113 "Enabling the cache breaks the plugin under PHP 8.1+"
Just moved to a server running PHP 8.1.2, and with oembed's cache enabled, the plugin breaks.

[code]

Disabling the oembed cache fixes the issue.

[2022-06-28 04:10] reganlawton commented on #113
@amphibian  I'm not having this issue can you provide me with the URL you're using that has the issue. If not it might be from the database and might be nice to contact and see if I can see what your DB is doing.

On that said what DB are you using? MySQL, Maria, Postgres?

[2022-06-28 13:40] amphibian commented on #113
The URL doesn't help, as it simply returns an internal server error. This is applying to all videos embedded across the site, not just one in-particular.

I also cleared all caches in case there was an issue with cached data, but doing that and then turning the oEmbed cache on brought the error back.

Versions:

Craft 3.7.45.2
PHP 8.1.2
MySQL 8.0.29

[2022-06-29 01:13] reganlawton commented on #113
Oh this is a v1 branch changes that's why I couldnt have the issue with it. I added PHP 8 support to v2 and Craft v4. I'll have to spin up a new project with Craft 3 and PHP 8 and see what I can fix

[2022-06-29 10:01] romainpoirier opened #114 "Serialization of 'DOMDocument' is not allowed"
`{{ craft.oembed.render(url) }}` using version `2.0.0` under `Craft 4.1.0.2` returns this error:
`Serialization of 'DOMDocument' is not allowed`

[2022-06-29 13:45] reganlawton commented on #114
This is a duplication for #113 so closing to be contiuned there. I'm wondering if this is resolved in #115 by @juban and the DOMDocument requirement. As I cant cause it but I have a full PHP module setup. So that's may guess.
s

[2022-06-29 13:53] romainpoirier commented on #114
FYI, below is my setup where this error happens on both tested env. I know my MySQL version is under the minimal requirement of Craft 4, but I can't get a newer. Can it be the cause of this error?

**DEV (MAMP Pro)**
PHP version	8.1.0
OS version	Darwin 21.4.0
Database driver & version	MySQL 5.7.34
Image driver & version	Imagick 3.5.1 (ImageMagick 6.9.6-2)
Craft edition & version	Craft Pro 4.1.0.2

[2022-06-29 14:20] romainpoirier commented on #114
The line 104 of `/src/services/OembedService.php` is affected:
`$code = Utils::iframe($media->url);`

[code]

[2022-06-29 14:27] reganlawton commented on #114
I'm more asking if `php-xml` is installing I believe PHP 8.1 doesn't default with it. The v2.1.0 update should confirm that DOMDocument is using ext-dom

[2022-06-29 14:37] reganlawton commented on #114
I just built up a new docker-compose setup with 8.1 now with the 2.1.0 changes to confirm I'll see what more I can find

[2022-06-29 14:56] reganlawton commented on #114
Rebuilting my docker-compose setup one of the services were using PHP 8.0 still so it was my side that was the issue. Im looking into it ATM

[2022-06-29 15:34] reganlawton commented on #113
Try using `dev-bugfix/issue-113` it converts the Class to JSON and back to StdClass. The fields will be static and locked so if your using cache on you should use the following.

[code]

This will just left you handle bits you won't from a "live" response but URL and code should always be there as a minimum I believe.

Let me know how that goes.

[2022-06-29 15:51] reganlawton commented on #104
I've found this stupid bug and "fixed" it in v2.x, AKA PHP 8 version, by converting the Embed class that gets cached from a Class to JSON string and back to StdClass, I think this will be the way to go. It snapshots the object but solves the issue. Don't know WHY it started happening, probably from the core package I use, but I'm sorry this took so long to "figure out" I've just been so under the

[2022-06-29 15:52] reganlawton commented on #104
Just to summary the v1 branch will be updated and tagged with a new v1.x version 🍻

[2022-06-30 10:01] reganlawton commented on #106
v2.2.0 (CraftCMS v4) and v1.3.18 (CraftCMS v3) tagged with `required` changes.

[2022-06-30 10:01] #106 closed

[2022-06-30 10:01] #113 closed

[2022-06-30 10:27] juban opened #118 "FallbackAdapter is not handled correctly due to #101 fix"
@reganlawton
There is a side effect to my bug fix : if no or wrong url is provided, the preview and embed now falls back to the default Craft site. I've fixed it successfully locally and hopefully provide a PR that will solve this in a satisfying manner.

[2022-06-30 10:30] reganlawton commented on #118
A PR will be great thank you

[2022-06-30 10:38] juban commented on #118
@reganlawton Just pushed one. I've bump composer version number to 2.2.1 and updated the change log.
Once again, feel free to modify or update that to your liking.
Thank you for your patience :)

[2022-06-30 10:39] reganlawton commented on #118
The changelog and version bump makes PRs a dream. Im gonna have to basically make you a maintainer at this point haha

[2022-06-30 11:02] juban commented on #118
@reganlawton Are you kidding? You did a tremendous job with this plugin which probably saved me hours. I'm sorry I don't have much time to provide a better contribution quality and I'm very grateful for your time.

Thank you for your hard work :)

[2022-06-30 11:06] reganlawton commented on #118
Haha yeah it's in Top 10 for field plugins so it's good it's used. It's good to see more people sending in PRs. I made a team "Maintainers" I'm gonna like into GitHub permissions and see what I can do giving core people/ active maintainers more access to branches on the repo and lock down the main branches. That way it might help speed up bug fixes and new features and upgrades.

[2022-07-02 07:42] #118 closed

[2022-07-06 20:10] lmcnearney opened #120 "Loss of metadata when loading from cache on 2.2.x"
As part of version `2.2.0`, the metadata available during an initial request (like the `media.providers` and `media.images`) are no longer saved and returned when using the cache. This is likely due to the new JSON serialization happening in https://github.com/wrav/oembed/commit/e4bf0952a90ea95e4c22e098e40639b63c8e2c13 which appears to only serialize the 4 simple properties of the `OembedModel` cl

[2022-07-06 22:08] reganlawton commented on #120
This update was just a stop point. I'm looking into updates to the caching as the response property uses unserialisable class, which is coming from PHP 8.X so I'm looking into upgrade but wanted to give a simple solution that wasn't hard broken well I look into the issue.

[2022-07-20 13:21] bartrylant opened #121 "Youtube embed stopped working"
When entering a YouTube url in an oembed field, I now get:

`Onze systemen hebben ongebruikelijk verkeer van uw computernetwerk vastgesteld. Probeer uw verzoek later opnieuw.
`
Instead of the embedded video.

This happens with oembed fields only. When I embed the YouTube video with another plugin or hardcode it. It does not give an error.

[2022-07-20 23:33] reganlawton commented on #121
Is this from the preview? Or then the template? I'm not at computer ATM to translate the error message just will update when near a computer.

[2022-07-21 03:19] sgtpenguin commented on #85
Is there any way this fix can be added to the project? It's a bummer that graphql completely errors out if content editors did not enter an embed.

[2022-08-15 11:40] goodmixer commented on #88
This bug still exists in version 1.3.18

[2022-08-16 20:32] CassadyBlake commented on #121
Is there anything we can do on the YouTube side(within our youtube settings) to allow authentication on a particular domain or IP(anything to get around the rate limit?)

[2022-08-16 21:56] reganlawton commented on #121
@CassadyBlake have you turned on caching I'm in the oembed setting?

[2022-08-16 22:09] CassadyBlake commented on #121
I have and I still get the same error

[2022-08-17 17:25] CassadyBlake commented on #121
After making some other updates and deploying the site changes the videos work now. Perhaps this action resets the youTube rate limit? I have also enabled caching... so we will see if it happens again.

[2022-08-18 01:07] reganlawton commented on #121
The rate limit is held for a few hours I believe. Unless you have something like an elastic IP pool and when you deploy the outgoing IP for your server changes.

[2022-08-29 00:51] #121 closed

[2022-08-31 21:12] angieherrera opened #123 "Error when using entry.field.media.image"
Hi! I am using this in a Matrix block and trying to pull the thumbnail via `entry.field.media.image`. It results in a Twig Runtime Error:

_Neither the property "image" nor one of the methods "image()", "getimage()"/"isimage()"/"hasimage()" or "__call()" exist and have public access in class "stdClass"._

Here's my relevant code:

[code]

This is on Craft 3.7.44 and oEmbed 1.3.18.

[2022-08-31 23:35] reganlawton commented on #123
Do you have caching on?

[2022-09-02 03:37] jaredchesebro opened #124 "oEmbed Stopped Pulling Data"
I upgrade to 2.2.2 and then updated my Craft primary domain and for some reason I started getting a bunch of CSP issues. I didn't have time to troubleshoot so I stopped using your plugin.

[2022-09-02 04:49] reganlawton commented on #124
@jaredchesebro CSP? Are you talking "Content Security Policy"?

If so there is nothing I can do there that seems like you have a policy blocking things. Nothing from the plugin handles security policies.

[2022-09-02 04:50] reganlawton commented on #124
If you have a policy plugin that might need to be configured for IFRAMEs and external domains

[2022-09-04 20:08] jaredchesebro commented on #124
After a little troubleshooting: basically what was happening was that the oEmbed field/twig tag started outputting malformed iframe src values and YouTube was blocking them. The only thing I did leading up to the issue was change from a staging domain to the live domain. Since I was launching the site I just didn't have time to dig into it further. I disabled the plugin and just wrote a macro to p

[2022-09-12 13:22] bartrylant commented on #123
It looks like there is no `media` data at all anymore? I'm using `entry.field.media.type` a lot. But when I have a YouTube video, this is now what's in the object:

[code]

Looks like the media info is gone?

I'm on Craft Pro 4.2.3 and oEmbed 2.2.2

[2022-09-14 15:43] maxstrebel commented on #123
Caching is on. But it shows a similar error without. Same is for GDPR.

[2022-09-15 00:21] angieherrera commented on #123
Sorry, just getting back to this. No, caching is not on.

[2022-09-16 04:25] steverowling opened #125 "Broken URL notifications not working on Craft 4"
If I enable notifications in the plugin on Craft 4.2.4, I get the following error in `phperrors.log`

[code]

It looks like you need to add a return type of `: void` to the `execute()` function on line 22.

[2022-09-16 05:55] steverowling commented on #123
I was having the same problems until I turned caching off, which resolved it for me. Craft 4.2.4, oEmbed 2.2.2

[2022-09-16 22:27] angieherrera commented on #123
I disabled caching and it resolved as well.

[2022-09-26 20:23] joomkit opened #126 "Craft 4 embeds suddenly default to 200px wide iframe"
Using latest Craft 4 , PHP8.1
Adding some videos and noticed that the iframe produced is hardcoded 200px wide whereas it was 100% previously. IM rendering out of a partial matrix block like below
[code]

[2022-09-28 14:54] maxstrebel commented on #124
Hey, this just brought down a production site of mine. Is there any chance this can be investigated? Otherwise I also will need to replace the plugin.

[2022-09-28 14:55] maxstrebel commented on #123
Unfortunately it is not resolved for me when I deactivate the cache

[2022-11-25 18:03] thijskaspers commented on #125
I'm getting this error again with Craft 4.3.3 and oEmbed 2.2.2, so doesn't seem to be fixed?